@charset "utf-8";

@import "page.param.1";

/*
 * page-footer-1部分样式
 */
page-footer-1{
  @include page;
  margin-top: 15px;
  background-color: $base_backgroundColor;
  &>.page-footer-content{
    @include pageContent(175px,19px,12px,$base_color);
    max-width: none;
    &>.page-footer-navInfo{
      width: 100%;
      height:140px;
      font-size: 14px;
      line-height:28px;
      &>ul{
        padding-top: 13px;
        height:140px;
        max-width: 1390px;
        margin: auto;
        overflow: hidden;
        &>li{
          width: 230px;
          margin: 5px;
          float: left;
          text-align: center;
          &>span{
            color: $title_color;
            font-size:16px;
            display: block;
          }
          &>a{
            font-size:13px;
            color: $base_color;
            display: block;
            &:hover,
            &:active{
              color: $red;
            }
          }
        }
      }
    }
    &>.page-footer-recordInfo{
      width: 100%;
      height:35px;
      &>div{
        height:30px;
        max-width: 1390px;
        margin: auto;
        padding-top: 8px;
        border-top: dashed 1px $base_color;
        &>span{
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          text-align: center;
          display: block;
          &:last-child{
            line-height: 24px;
          }
        }
      }
    }
    @at-root .short &{
      max-width: none;
      &>.page-footer-navInfo>ul{
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
      }
      &>.page-footer-recordInfo>div{
        max-width: 1200px;
        margin: auto;
      }
    }
  }
}
