@charset "utf-8";

@import "page.param.1";

/*
 * page-shop-2部分样式
 */
page-company-2{
  @include page;
  &>.page-company-content{
    @include pageContent(auto,19px,12px,$base_color);
    @at-root .SHORT &{
      max-width: none
    }
    .companyHeader{
      background-color: $base_backgroundColor;
      height: 60px;
      margin-bottom: 20px;
    }
    .maxWidth {
      max-width: 1200px;
      margin: auto;
      &>.companyName{
        height: 60px;
        font-size: 24px;
        line-height: 60px;
        padding-left: 15px;
      }
      &>.companyInfo{
        width: 100%;
        height: auto;
        overflow: hidden;
        &>.companyContentLeft{
          width: 220px;
          float: left;
          margin-bottom: 20px;
          margin-left: 10px;
          &>.infoTitle{
            width: 100%;
            height: 45px;
            padding-left: 15px;
            line-height: 45px;
            background-color: $base_tangerine;
            color: $white;
            font-size: 18px;
          }
          &>.infoDescription{
            border: solid 1px $base_tangerine;
            padding-left: 5px;
            padding-right: 7px;
            padding-top: 15px;
            &>span{
              margin-bottom: 12px;
              width: 100%;
              padding-left:7px;
              font-size: 13px;
              display: inline-block;
              vertical-align: top;
              &>i{
                font-size: 16px;
              }
              &.one{
                width: 75px;
              }
              &.two{
                width: calc(100% - 75px);
              }
            }
          }
          &>.pictrueTitle{
            width: 100%;
            height: 45px;
            margin-top: 30px;
            padding-left: 15px;
            line-height: 45px;
            background-color: $base_tangerine;
            color: $white;
            font-size: 18px;
          }
          &>.pictrueDescription{
            text-align: center;
            border: solid 1px $base_tangerine;
            padding-top: 15px;
            &>a{
              display: inline-block;
              width: 170px;
              height: auto;
              margin-bottom: 15px;
              border: solid 1px $base_borderColor;
              position: relative;
              &>img{
                max-width: 95%;
              }
              &>.price{
                width: 100%;
                height: 25px;
                line-height: 18px;
                font-size: 15px;
                color: $base_tangerine;
                position: absolute;
                bottom: 1px;
                background-color: $logoBanner_color;
              }
            }
          }
        }
        &>.companyContentRight{
          width: 900px;
          float: left;
          margin-left: 20px;
          margin-bottom: 20px;
          &>.companyDescription{
            text-indent: 28px;
            line-height: 20px;
            margin-top: 20px;
            font-size: 14px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            padding: 10px;
          }
          &>.companyShops{
            padding: 0 10px;
            margin-top: 20px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            &>.shopClassify{
              height: 40px;
              line-height: 40px;
              font-size: 13px;
              &:not(last-child){
                border-bottom: dashed 1px $base_borderColor;
              }
              &>div:first-child{
                width: 80px;
                float: left;
                text-align: right;
              }
              &>div:last-child{
                width: calc(100% - 100px);
                margin-left: 20px;
                float: left;
                &>a{
                  color: $base_color;
                  margin: 0 15px;
                  display: inline-block;
                  &.active,
                  &:hover{
                    color: $base_tangerine;
                  }
                }
              }
            }
          }
          &>.companySort{
            margin-top: 20px;
            height: 40px;
            line-height: 40px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            &>a{
              width: 90px;
              height: 38px;
              line-height: 38px;
              font-size: 14px;
              color: $base_color;
              text-align: center;
              display: inline-block;
              vertical-align: top;
              &.active{
                color: $white;
                background-color: $base_tangerine;
              }
              &:hover{
                color: $base_tangerine;
              }
            }
          }
          &>.companyShow{
            &>ul{
              overflow: hidden;
              &>li{
                width: 270px;
                height: 345px;
                margin: 10px 13px;
                border: solid 1px $base_borderColor;
                float: left;
                &>a{
                  display: block;
                  &>.imgShow{
                    width: 268px;
                    height: 268px;
                    text-align: center;
                    position: relative;
                    margin: auto;
                    border-bottom: dashed 1px $base_borderColor;
                    &>img{
                      width: auto;
                      height: 100%;
                      max-width: 100%;
                      position: absolute;
                      top: 0px;
                      bottom: 0px;
                      left: 0px;
                      right: 0px;
                      margin: auto;
                    }
                  }
                  &>.description{
                    font-size: 13px;
                    color: $base_color;
                    line-height: 16px;
                    padding: 7px;
                  }
                  &>.price{
                    font-size: 15px;
                    color: $base_tangerine;
                    line-height: 16px;
                    padding: 0 10px;
                  }
                }
                &:hover{
                  border: solid 1px $base_tangerine;
                }
              }
            }
          }
        }
      }
    }
  }
}

