@charset "utf-8";
/*
 * control-header-top部分样式
 */
.page-header-top{
  @include page;
  background-color: $top_backgroundColor;
  &>.page-header-top-content{
    @include pageContent(30px,28px,13px,#777);
  }
}

/*
 * control-header-center部分样式
 */
.page-header-center{
  @include page;
  background-color: #fff;
  &>.page-header-center-content{
    @include pageContent(100px);
    .page-header-center-logo{
      width: 300px;
      padding: 25px 0 0 0;
      &>img{
        max-height: 100%;
        width:auto;
      }
    }
    .page-header-center-search{
      width: 520px;
      height: 100px;
      padding-top: 13px;
      float: right;
      margin-right: 60px;
      [class~='search-baby'],
      [class~='search-shop']{
        width: 50px;
        height: 28px;
        line-height: 29px;
        font-size: 14px;
        color: $color_tangerine;
        text-align: center;
        &.active{
          background-color: $color_tangerine;
          color: #fff;
        }
      }
      .input-search{
        border-radius: 0px;
        height:34px;
        border:solid 1.5px $color_tangerine;
      }
      .btn-search{
        @extend .input-search;
        width: 120px;
        padding: 3px 10px;
        background-color: $color_tangerine;
        font-size: 17px;
        color: #fff;
      }
    }
  }
  &>.page-header-center-plates{
    width:100%;
    @at-root .pageSearch>&{
      border-bottom:solid 1.5px $color_tangerine;
    }
    &>.page-header-center-content{
      @include pageContent(40px,28px,13px,#777);
      .classify{
        width: 200px;
        height: 35px;
        margin: 5px 5px 0 0;
        line-height: 36px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background-color: #ff4200;
      }
      ul{
        float: right;
        margin-right: 10px;
      }
      li{
        min-width: 85px;
        height: 33px;
        margin-top: 7px;
        padding: 0 15px;
        display: inline-block;
      }
      li>a.plate{
        width: 100%;
        line-height: 39px;
        font-size: 16px;
        color: #666;
        text-align: center;
        display: inline-block;
        &.active{
          color: #ff4200;
        }
      }
    }
  }
}
