@charset "utf-8";

@import "page.param.1";

/*
 * page-nav-1部分样式
 */
page-nav-1{
  @include page;
  &.border{
    border-bottom: solid 1.5px $base_tangerine;
  }
  background-color: $white;
  &>.page-nav-content{
    @include pageContent(40px,19px,12px,$base_color);
    position: relative;
    .page-nav-showCont{
      width: 100%;
      height: 100%;
      &>.contType{
        width: 190px;
        height: 40px;
        position: relative;
        z-index: 999;
        background-color: $base_tangerine;
        &>i{
          width: 36px;
          height: 40px;
          line-height: 45px;
          padding-left: 10px;
          color: $white;
          font-size:20px;
        }
        &>span{
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: left;
          color: $white;
          font-size:16px;
        }
        &>ul{
          width: 100%;
          height: 0px;
          background-color: $white_transparent;
          overflow: hidden;
          &>li{
            width: 100%;
            height: 31px;
            position: relative;
            &>.contTypeTitle{
              height: 31px;
              line-height: 30px;
              font-size: 14px;
              letter-spacing: 1px;
              color: $title_color;
              padding-left: 15px;
              position: relative;
              display: block;
              &>i.fa-angle-right{
                font-size: 18px;
                color: $title_color;
                position: absolute;
                top: 6.5px;
                right: 10px;
              }
            }
            &>.showContItemList{
              width: 0px;
              background-color: $white_transparent;
              border: solid 1px $base_tangerine;
              box-shadow: 3px 1px 8px rgba(255, 66, 0, .35);
              -webkit-box-shadow: 3px 1px 8px rgba(255, 66, 0, .35);
              transition: width 0.7s ease-in-out 0s;
              position: absolute;
              left: 188px;
              z-index: 500;
              visibility: hidden;
              overflow: hidden;
              &>ul{
                width: 790px;
                min-height: 494px;
                padding: 10px 0px 5px 20px;
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                &>li {
                  width: 100%;
                  padding: 10px 0;
                  vertical-align: top;
                  display: inline-block;
                  overflow: hidden;
                  &:not(:last-child){
                    border-bottom: dashed 1px $title_border;
                  }
                  .title{
                    width: 100px;
                    line-height: 23px;
                    text-align: right;
                    font-size: 14px;
                    color: $title_color;
                    vertical-align: top;
                    display: inline-block;
                    &::after{
                      content: ">";
                      font-family: "simsun";
                      font-weight: 600;
                      margin-left: 5px;
                    }
                  }
                  .content{
                    width: calc(100% - 105px);
                    line-height: 20px;
                    overflow: hidden;
                    vertical-align: top;
                    display: inline-block;
                    a{
                      line-height: 24px;
                      padding: 0 7px;
                      font-size: 12px;
                      color: $base_color;
                      display: inline-block;
                      &:hover{
                        color: $base_tangerine;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
            @for $i from 1 through 16 {
              &:nth-of-type(#{$i})>.showContItemList{
                top: (-1-(($i)-1)*31)+px;
              }
            }
            &.hover{
              border-top: solid 1px $base_tangerine;
              border-bottom: solid 1px $base_tangerine;
              border-left: solid 1px $base_tangerine;
              &:after{
                content: "";
                width: 2px;
                height: calc(100% + 1px);
                background-color: $white;
                position: absolute;
                top: 0px;
                left: 188px;
                z-index:550;
              }
              &>span{
                color: $base_tangerine;
              }
              &>span>i.fa-angle-right{
                display: none;
              }
              &>.showContItemList{
                color: $base_tangerine;
                z-index: 550;
              }
            }
          }
          &.hover{
            border-right: none;
          }
          &:hover{
            &>li>.showContItemList{
              width: 1010px;
            }
          }
        }
        span{
          cursor: default;
        }
        &.showed{
          &>ul{
            height: auto;
          }
        }
      }
      &>.contNav{
        width: 1000px;
        height: 100%;
        &>a{
          min-width: 100px;
          height: 100%;
          padding: 0px 20px;
          font-size: 17px;
          line-height: 47px;
          text-align: center;
          color: $nav_color;
          &.active,
          &:hover{
            color: $base_tangerine;
            font-weight: 600;
          }
        }
      }
    }
  }
}

