@charset "utf-8";

@import "page.param.1";

/*
 * page-shop-1部分样式
 */
page-shop-1{
  @include page;
  &>.page-shop-content{
    @include pageContent(auto,19px,12px,$base_color);
    @at-root .short &{
      max-width: none;
    }
    .maxWidth {
      max-width: 1200px;
      margin: auto;
      & > .shopImg {
        height: 120px;
        text-align: center;
        & > img {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
      & > .shopDetails {
        height: 530px;
        padding-top: 10px;
        & > .imgs {
          width: 400px;
          height: 520px;
          float: left;
          & > .showImg {
            height: 400px;
            width: 400px;
            text-align: center;
            border: solid 1px $base_borderColor;
            padding: 5px;
            & > img {
              height: 100%;
              width: auto;
              max-width: 100%;
            }
          }
          & > .otherImg {
            height: 80px;
            padding: 15px 0;
            & > img {
              width: 60px;
              height: 60px;
              margin: 0 7px;
              &.active {
                border: solid 1px $red;
              }
            }
          }
        }
        & > .infos {
          width: 650px;
          height: 520px;
          float: left;
          padding: 15px 50px;
          & > div > span:first-child {
            width: 85px;
            padding-left: 15px;
          }
          & > .title {
            max-height: 60px;
            line-height: 20px;
            font-size: 18px;
            margin-bottom: 14px;
            overflow: hidden;
            color: $lightBlack;
            padding-left: 10px;
          }
          & > .priceTable{
            width: 100%;
            height: 72px;
            font-size: 13px;
            margin-bottom: 18px;
            vertical-align: middle;
            text-align: left;
            padding: 0 10px;
            background-color: $base_backgroundColor;
            &>tbody>tr{
              vertical-align: middle;
              border: none;
              &:first-child>td{
                padding: 5px 0 0 0;
                &:first-child{
                  padding:12px 0 0 13px
                }
                &:not(:first-child){
                  color:red;
                  font-size: 25px;
                }
              }
              &>td{
                border: none;
                &:first-child{
                  width: 90px;
                  text-align: center;
                  vertical-align: middle;
                }
              }
            }
          }
          & > .size {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 18px;
            & > span{
              cursor: pointer;
            }
            & > span:not(:first-child) {
              height: 30px;
              line-height: 30px;
              padding: 0 3px;
              margin-top: 5px;
              margin-right: 5px;
              border: solid 1px $red;
              &.active {
                background-color: $red;
                color: $white;
              }
              &:not(.active):hover {
                color: $red;
              }
            }
          }
          & > .color {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 18px;
            & > abbr{
              cursor: pointer;
              text-decoration: none;
              margin-right: 5px;
              & > span {
                width: 35px;
                height: 35px;
                display: inline-block;
                & > img {
                  width: 100%;
                  height: 100%;
                  border: solid 1px $base_borderColor;
                  &.active,
                  &:hover{
                    border-color: $red;
                  }
                }
              }
            }
            & > span{
              cursor: pointer;
            }
            & > span:not(:first-child) {
              height: 30px;
              line-height: 30px;
              padding: 0 3px;
              margin-top: 5px;
              margin-right: 5px;
              border: solid 1px $red;
              &.active {
                background-color: $red;
                color: $white;
              }
              &:not(.active):hover {
                color: $red;
              }
            }
          }
          & > .quantity {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 18px;
          }
          & > .term {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 18px;
          }
          & > .postage {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 18px;
          }
          & > .btn-collection {
            width: 110px;
            height: 40px;
            line-height: 38px;
            font-size: 16px;
            padding: 0 10px;
            margin-bottom: 20px;
            border: solid 1px $red;
            vertical-align: sub;
            color: $red;
            margin-left: 25px;
            margin-right: 10px;
            cursor: pointer;
            &:hover{
               background-color: $red;
               color: $white
            }
          }
        }
      }
      & > .shopInfo {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 15px;
        & > .shopInfo-left {
          width: 240px;
          height: auto;
          float: left;
          & > ul.classify {
            margin-bottom: 20px;
            border: solid 1px $red;
            & > span {
              width: 100%;
              height: 42px;
              line-height: 42px;
              font-size: 16px;
              padding-left: 10px;
              display: inline-block;
              text-align: left;
              color: $white;
              background-color: $red;
              border-bottom: solid 1.5px $base_borderColor;
            }
            & > li {
              width: 100%;
              height: 42px;
              line-height: 42px;
              display: inline-block;
              text-align: left;
              border-bottom: dashed 1px $base_borderColor;
              &>a{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: $base_color;
                padding-left: 10px;
              }
              &.active>a,
              &:hover>a{
                color: $red;
              }

            }
          }
          & > ul.collect {
            margin-bottom: 20px;
            border: solid 1px $red;
            & > span {
              width: 100%;
              height: 42px;
              line-height: 42px;
              font-size: 16px;
              padding-left: 10px;
              display: inline-block;
              text-align: left;
              color: $white;
              background-color: $red;
              border-bottom: solid 1.5px $base_borderColor;
            }
            & > li{
              margin: 20px 0;
              text-align: center;
              &>a{
                width: 180px;
                height: auto;
                display: inline-block;
                position: relative;
                border: solid 1px $base_borderColor;
                &>img{
                  width: 100%;
                  height: auto;
                }
                &>.price{
                  width: 100%;
                  height: 25px;
                  line-height: 25px;
                  font-size: 15px;
                  color: $red;
                  position: absolute;
                  bottom: 1px;
                  background-color: $darkGray_transparent;
                }
                &:hover{
                  border: solid 1px $red;
                }
              }
            }
          }
        }
        & > .shopInfo-right{
          width: 920px;
          float: right;
          &>.header{
            height: 42px;
            background-color: $base_backgroundColor;
            border-bottom: solid 2px $red;
            &>a{
              display: inline-block;
              height: 42px;
              line-height: 42px;
              padding: 0 30px;
              color: $white;
              background-color: $red;
              font-size: 18px;
            }
          }
          &>.shopDescription{
            margin-top: 15px;
            &>.shopDescriptionTable{
              width: 100%;
              border: solid 1px $base_borderColor;
              margin-bottom: 20px;
              &>tbody>tr>td{
                height: 60px;
                font-size: 14px;
                padding: 10px;
                border: solid 1px $base_borderColor;
                &:first-child{
                  width: 120px;
                  text-align: center;
                }
              }
            }
          }
          &>.shopDescriptionHtml{
            width: 100%;
            & img{
              max-width: 44%;
              margin: 0 3%;
              height: auto;
            }
          }
        }

      }
    }
    & > .shopInfo {
      background-color: $base_backgroundColor;
      font-size: 18px;
      height: 40px;
      line-height: 40px;
    }
  }
  .modals_company{
    width: 360px;
    min-height: 340px;
    border: solid 1px $red;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px $lightBlack;
    -webkit-box-shadow: 2px 2px 5px 0px $lightBlack;
    background-color: $white;
    position: fixed;
    top: 20%;
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
    &>.header{
      width: 100%;
      height: 42px;
      line-height: 42px;
      padding-left: 15px;
      background-color: $red;
      color: $white;
      font-size: 18px;
      &>.glyphicon{
        float: right;
        padding: 11px 12px;
        cursor: pointer;
      }
    }
    &>.content>.companyTable{
      margin: 0px;
      &>tbody>tr>td{
        &:first-child{
          width: 80px;
          text-align: center;
          border-right: solid 1px $base_borderColor;
        }
        &:not(:first-child){
          padding: 8px 15px;
        }
      }
    }
  }
}

