@charset "utf-8";

@import "page.param.1";

/*
 * page-searchShop-1部分样式
 */
page-searchshop-1{
  @include page;
  &>.page-searchShop-content{
    @include pageContent(auto,19px,12px,$base_color);
    min-height: 395px;
    &>.recommImg{
      width: 100%;
      height: 190px;
      padding: 10px 0 0 0;
      border-bottom: dashed 1px $base_borderColor;
      &>a{
        width: 268px;
        height: 170px;
        margin: 0 5px;
        float: left;
        text-align: center;
        display: inline-block;
        position: relative;
        &>div{
          text-align: center;
          display: inline-block;
          height: 100%;
          transition: transform 0.5s ease-in-out 0s;
          transform: scale(0.92);
          &>img{
            height: 100%;
            width: auto;
            max-width: 100%;
          }
          &:hover{
            transform: scale(1);
          }
        }
      }
    }
    &>.resultCategory{
      height: 30px;
      font-size: 13px;
      color: $lightBlack;
      padding-left: 15px;
      margin-top: 23px;
      &>span{
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        &.searchCont{
          font-size: 13px;
          height: 22px;
          line-height: 20px;
        }
      }
      &>a{
        height: 22px;
        line-height: 19px;
        padding: 0 27px 0 5px;
        color: $a_color;
        display: inline-block;
        background-color: $base_backgroundColor;
        border: solid 1px $base_borderColor;
        position: relative;
        &>abbr{
          text-decoration: none;
          cursor: pointer;
          border-bottom: none;
        }
        span{
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .classifyType{
          display: inline-block;
          &::after{
            content: ":";
            margin-left: 3px;
          }
        }
        .classCont{
          color: $red;
          display: inline-block;
        }
        .deleteIcon{
          width: 25px;
          height: 21px;
          line-height: 19px;
          color: $red;
          position: absolute;
          right: -1px;
          top: -1px;
          display: inline-block;
          background: url("/app/images/icon_search.png") 7px -140px;
        }
        &:hover{
          border-color: $red;
          .deleteIcon{
            background-color: $red;
            background-position: 7px -158px;
          }
        }
      }
      &>.rightIcon{
        font-family: SimSun;
        font-style: normal;
        height: 22px;
        line-height: 22px;
        margin: 0 3px;
        display: inline-block;
        vertical-align: top;
      }

    }
    &>.classifyCategory{
      border: solid 1px $base_borderColor;
      &>div{
        width: 100%;
        height: auto;
        min-height: 36px;
        overflow: hidden;
        border-top: dashed 1px $base_borderColor;
        background-color: $base_backgroundColor;
        &:first-child{
          border-top: none;
        }
        &>div:first-child{
          width: 110px;
          min-height: 36px;
          max-height: 114px;
          overflow: hidden;
          float: left;
          &>span{
            width: 100%;
            height: 43px;
            font-size: 13px;
            line-height: 43px;
            display: inline-block;
            text-align: center;
            &::after{
              content: ":";
              margin-left: 1.5px;
            }
          }
        }
        &>div:last-child{
          width: calc(100% - 110px);
          min-height: 38px;
          float: left;
          border-left: dashed 1px $base_borderColor;
          background-color: $white;
          overflow: hidden;
          &>div{
            width: 1140px;
            min-height: 36px;
            float: left;
            padding-left: 10px;
            &>a{
              display: inline-block;
              margin: 3.5px 10px;
              &>img{
                height: 50px;
                width: 108px;
                max-width: 100%;
                border: solid 1px $base_borderColor;
              }
              &>span{
                font-size: 13px;
                height: 36px;
                line-height: 36px;
                padding-left: 10px;
                color: $blue;
                display: inline-block;
              }
              &:hover{
                &>img{
                  border-color: $red;
                }
                &>span{
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
    &>.filter{
      width: 100%;
      height: 38px;
      color: $base_color;
      font-size: 13px;
      line-height: 38px;
      margin-top: 10px;
      padding: 6px 0px 0px 20px;
      border: solid 1px $base_borderColor;
      background-color: $base_backgroundColor;
      &>.btn-group{
        vertical-align: top;
        &>.btn{
          height: 25px;
          padding: 1px 5px 1px 7px;
          color: $base_color;
          background-color: $white;
          border-color: $red;
          &:hover{
            color: $red;
          }
          &.active{
            background-color: $red;
            color: $white;
          }
          &>i{
            font-size: 14px;
            margin-left: -5px;
          }
        }
      }
      &>.inputGroup{
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        margin-left: 13px;
        color: $red;
        &>label{
          font-size: 18px;
          vertical-align: top;
          margin-left: 16px;
          margin-right: -6px;
          &>i{
            vertical-align: middle;
          }
          &>span{
            font-size: 15px;
            font-weight: 500;
          }
        }
        &>input[type='checkbox']{
          width: 14px;
          height: 14px;
          display: none;
        }
      }
      .priceRegion{
        width: 270px;
        margin-left:80px;
        .input-group{
          height: 24px;
          line-height: 24px;
          width: calc(100% - 60px);
          display: inline-table;
          background-color: transparent;
          &>input[type='text']{
            padding: 0 2px;
            height: 24px;
            line-height: 24px;
            border-radius: 0px;
            border: solid 1px $red;
            color: $red;
          }
          &>span{
            padding: 0 5px;
            border: none;
            color: $red;
          }
        }
        &>a{
          height: 19px;
          line-height: 19px;
          font-size: 13px;
          padding: 1px 5px;
          margin-left: 5px;
          display: inline-table;
          vertical-align: top;
          color:$white;
          background-color: $red;
          &:hover:focus:active{
            color:$white;
            background-color: $red;
          }
        }
      }
      &>.region{
        width: 240px;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        margin-left: 18px;
        color: $red;
        &>span{
          width: 42px;
          height: 25px;
          font-size: 14px;
          line-height: 25px;
        }
        &>input{
          max-width: calc(100% - 50px);
          height: 25px;
          padding: 1px 5px 1px 7px;
          font-size: 14px;
          border-color: $red;
        }
      }
    }
    &>.ShopList{
      width: 100%;
      height: auto;
      &>ul{
        width: 100%;
        height: auto;
        padding-top: 10px;
        &>li{
          width: 250px;
          height: 320px;
          display: inline-block;
          margin: 9px 12px;
          border: solid 1px $base_borderColor;
          &:hover{
            box-shadow: 0px 0px 15px 0px $li_fadeBackgroundColor;
          }
          &>a{
            width: 100%;
            height: 190px;
            text-align: center;
            display: inline-block;
            &>.imgBox{
              width: 230px;
              height: 188px;
              margin: auto;
              border-bottom: dashed 1px $base_borderColor;
              &>img{
                height: 100%;
                width: auto;
                max-width: 100%;
              }
            }
          }
          &>.info{
            height: 95px;
            margin: 5px auto 0 auto;
            border-bottom: dashed 1px $base_borderColor;
            &>.showImg{
              width: 100%;
              height: 32px;
              &>.box{
                height: 100%;
                width: 32px;
                margin-left: 6px;
                display: inline-block;
                text-align: left;
                position: relative;
                &:first-child{
                  margin-left: 15px;
                }
                &>img{
                  height: 100%;
                  width: auto;
                  max-width: 100%;
                  position: absolute;
                  top: 0px;
                  bottom: 0px;
                  margin: auto;
                  padding: 1px;
                  border: solid 1px $base_borderColor;
                  &.active{
                    border: solid 1px $red;
                  }
                }
              }
            }
            &>.showPrice{
              height: 30px;
              line-height: 36px;
              padding-left: 12px;
              font-size: 18px;
              color: $red;
            }
            &>.showText{
              width: 100%;
              padding: 3px 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &>a{
                &>abbr{
                  text-decoration: none;
                  cursor: pointer;
                  border-bottom: none;
                  font-size: 13px;
                  color: $title_color;
                }
              }
            }
            &>span{
              width: 100%;
              height: 24px;
              padding: 2px 10px;
              font-size: 14px;
              color: $title_color;
              &>span{
                width: 70px;
                float: left;
                &.contnet{
                  width: calc(100% - 72px);
                  height: 55px;
                  overflow: hidden;
                }
              }
            }
          }
          &>.mark{
            padding: 0px;
            background-color: $white;
            &>a{
              text-align: left;
              width: 100%;
              padding: 2px 10px;
              height: 24px;
              line-height: 24px;
              color: $red;
              font-size: 13px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &>abbr{
                text-decoration: none;
                cursor: pointer;
                border-bottom: none;
              }
            }
          }
        }
      }
      &>.pagination{
        width: 100%;
        height: 40px;
        margin-top: 20px;
      }
    }
    &>.nothingError{
      height: 120px;
      line-height: 120px;
      padding-left: 80px;
      &>.description{
        font-size: 20px;
        color: $red;
        &>i{
          font-size: 25px;
          color: yellow;
        }
      }
      &>.text{
        font-size: 20px;
        color: $base_color;
      }
    }
  }
}

