@charset "utf-8";

@import "page.param.1";

/*
 * page-shop-1部分样式
 */
page-shop-1{
  @include page;
  &>.page-shop-content{
    @include pageContent(auto,19px,12px,$base_color);
    @at-root .SHORT &{
      max-width: none;
    }
    .maxWidth {
      max-width: 1200px;
      margin: auto;
      & > .shopImg {
        height: 120px;
        text-align: center;
        & > img {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
      & > .shopDetails {
        height: 530px;
        padding-top: 10px;
        & > .imgs {
          width: 400px;
          height: 520px;
          float: left;
          & > .showImg {
            height: 400px;
            width: 400px;
            text-align: center;
            border: solid 1px $base_borderColor;
            padding: 5px;
            & > img {
              height: 100%;
              width: auto;
              max-width: 100%;
            }
          }
          & > .otherImg {
            height: 80px;
            padding: 15px 0;
            & > img {
              width: 60px;
              height: 60px;
              margin: 0 7px;
              &.active {
                border: solid 1px $base_tangerine;
              }
            }
          }
        }
        & > .infos {
          width: 650px;
          height: 520px;
          float: left;
          padding: 15px 50px;
          & > div > span:first-child {
            width: 50px;
          }
          & > .title {
            height: 50px;
            line-height: 20px;
            font-size: 20px;
            margin-bottom: 15px;
          }
          & > .price {
            height: 60px;
            line-height: 60px;
            font-size: 18px;
            padding: 0 15px;
            margin-bottom: 20px;
            background-color: $base_backgroundColor;
            color: $base_tangerine;
          }
          & > .size {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 20px;
            & > span{
              cursor: pointer;
            }
            & > span:not(:first-child) {
              height: 30px;
              line-height: 30px;
              padding: 0 3px;
              margin-top: 5px;
              margin-right: 5px;
              border: solid 1px $base_tangerine;
              &.active {
                background-color: $base_tangerine;
                color: $white;
              }
              &:not(.active):hover {
                color: $base_tangerine;
              }
            }
          }
          & > .color {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 20px;
            & > abbr{
              cursor: pointer;
              text-decoration: none;
              margin-right: 5px;
              & > span {
                width: 35px;
                height: 35px;
                display: inline-block;
                & > img {
                  width: 100%;
                  height: 100%;
                  border: solid 1px $base_borderColor;
                  &.active,
                  &:hover{
                    border-color: $base_tangerine;
                  }
                }
              }
            }
            & > span{
              cursor: pointer;
            }
            & > span:not(:first-child) {
              height: 30px;
              line-height: 30px;
              padding: 0 3px;
              margin-top: 5px;
              margin-right: 5px;
              border: solid 1px $base_tangerine;
              &.active {
                background-color: $base_tangerine;
                color: $white;
              }
              &:not(.active):hover {
                color: $base_tangerine;
              }
            }
          }
          & > .quantity {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 20px;
          }
          & > .btn-collection {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 20px;
            margin-bottom: 20px;
            border: solid 1px $base_tangerine;
            vertical-align: sub;
            color: $red;
            margin-left: 25px;
            margin-right: 10px;
          }
          & > span > .collectionColor {
            color: $base_tangerine;
          }
        }
      }
      & > .shopInfo {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 15px;
        & > .shopInfo-left {
          width: 240px;
          height: auto;
          float: left;
          & > ul.classify {
            margin-bottom: 20px;
            border: solid 1px $base_tangerine;
            & > span {
              width: 100%;
              height: 42px;
              line-height: 42px;
              font-size: 16px;
              padding-left: 10px;
              display: inline-block;
              text-align: left;
              color: $white;
              background-color: $base_tangerine;
              border-bottom: solid 1.5px $base_borderColor;
            }
            & > li {
              width: 100%;
              height: 42px;
              line-height: 42px;
              display: inline-block;
              text-align: left;
              border-bottom: dashed 1px $base_borderColor;
              &>a{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: $base_color;
                padding-left: 10px;
              }
              &.active>a,
              &:hover>a{
                color: $base_tangerine;
              }

            }
          }
          & > ul.collect {
            margin-bottom: 20px;
            border: solid 1px $base_tangerine;
            & > span {
              width: 100%;
              height: 42px;
              line-height: 42px;
              font-size: 16px;
              padding-left: 10px;
              display: inline-block;
              text-align: left;
              color: $white;
              background-color: $base_tangerine;
              border-bottom: solid 1.5px $base_borderColor;
            }
            & > li{
              margin: 20px 0;
              text-align: center;
              &>a{
                width: 180px;
                height: auto;
                display: inline-block;
                position: relative;
                border: solid 1px $base_borderColor;
                &>img{
                  width: 100%;
                  height: auto;
                }
                &>.price{
                  width: 100%;
                  height: 25px;
                  line-height: 25px;
                  font-size: 15px;
                  color: $base_tangerine;
                  position: absolute;
                  bottom: 1px;
                  background-color: $img_hoverColor;
                }
                &:hover{
                  border: solid 1px $base_tangerine;
                }
              }
            }
          }
        }
        & > .shopInfo-right{
          width: 920px;
          float: right;
          &>.header{
            height: 42px;
            background-color: $base_backgroundColor;
            border-bottom: solid 2px $base_tangerine;
            &>a{
              display: inline-block;
              height: 42px;
              line-height: 42px;
              padding: 0 30px;
              color: $white;
              background-color: $base_tangerine;
              font-size: 18px;
            }
          }
          &>.shopDescription{
            margin-top: 15px;
            &>ul{
              width: 100%;
              overflow: hidden;
              padding-bottom: 10px;
              border-bottom: dashed 1px $title_border;
              &>li{
                width: 25%;
                float:left;
                &>span{
                  height:20px;
                  line-height: 20px;
                  font-size: 13px;
                  padding-left:15px;
                  display: inline-block;
                  width:100%;
                }
              }
            }

          }
          &>.shopDescriptionImg{
            text-align: center;
            &>img{
              max-width: 880px;
              height:auto;
              margin-top: 25px;
            }

          }
        }

      }
    }
    & > .shopInfo {
      background-color: $base_backgroundColor;
      font-size: 18px;
      height: 40px;
      line-height: 40px;
    }
  }
}

