@charset "utf-8";

@import "page.param.1";

/*
 * page-shop-1部分样式
 */
page-company-1{
  @include page;
  &>.page-company-content{
    @include pageContent(auto,19px,12px,$base_color);
    @at-root .short &{
      max-width: none
    }
    .companyHeader{
      background-color: $base_backgroundColor;
      margin-bottom: 15px;
    }
    .maxWidth {
      max-width: 1200px;
      margin: auto;
      & > .companyLogo {
        height: 120px;
        text-align: center;
        & > img {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
      &>.companyName{
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
      }
      &>.companyInfo{
        width: 100%;
        height: auto;
        overflow: hidden;
        &>.companyContentLeft{
          width: 220px;
          float: left;
          margin-bottom: 20px;
          margin-left: 10px;
          &>.infoTitle{
            width: 100%;
            height: 45px;
            padding-left: 15px;
            line-height: 45px;
            background-color: $red;
            color: $white;
            font-size: 18px;
          }
          &>.infoDescription{
            border: solid 1px $red;
            padding-left: 5px;
            padding-right: 7px;
            padding-top: 15px;
            &>span{
              margin-bottom: 12px;
              width: 100%;
              font-size: 13px;
              display: inline-block;
              vertical-align: top;
              &>i{
                font-size: 16px;
              }
              &.one{
                width: 68px;
                padding-left:10px;
                &>a.licenseBtn,
                &>a.collectionBtn{
                  color: $red;
                }
              }
              &.two{
                width: calc(100% - 72px);
                padding-left:5px;
              }
            }
          }
          &>.pictrueTitle{
            width: 100%;
            height: 45px;
            margin-top: 30px;
            padding-left: 15px;
            line-height: 45px;
            background-color: $red;
            color: $white;
            font-size: 18px;
          }
          &>.pictrueDescription{
            text-align: center;
            border: solid 1px $red;
            padding-top: 15px;
            &>a{
              display: inline-block;
              width: 170px;
              min-height: 160px;
              height: auto;
              margin-bottom: 15px;
              border: solid 1px $base_borderColor;
              position: relative;
              &:hover{
                border: solid 1px $red;
              }
              &>img{
                max-width: 95%;
              }
              &>.price{
                width: 100%;
                height: 25px;
                line-height: 25px;
                font-size: 15px;
                color: $red;
                position: absolute;
                bottom: 1px;
                background-color: $darkGray_transparent;
              }
            }
          }
        }
        &>.companyContentRight{
          width: 900px;
          float: left;
          margin-left: 20px;
          margin-bottom: 20px;
          &>.companyImg{
            width: 900px;
            height: 500px;
            text-align: center;
            position: relative;
            &>img{
              height: 100%;
              width: auto;
              max-width: 100%;
              position: absolute;
              top: 0px;
              bottom: 0px;
              left: 0px;
              right: 0px;
              margin: auto;
            }
            &>.carousel_list{
              max-width: 108px;
              line-height: 12px;
              padding: 4px 12px 3px 12px;
              text-align: center;
              position: absolute;
              left: 0px;
              right: 0px;
              bottom: 18px;
              z-index: 150;
              margin: 0 auto;
              i{
                width: 14px;
                height: 14px;
                margin: 0 5px;
                border-radius: 100%;
                display: inline-block;
                background-color: $carousel_i_backgroundColor;
                cursor: pointer;
                &.showing,
                &.showing:hover{
                  height: 7px;
                  vertical-align: 3.6px;
                  border-radius: 0px;
                  background-color: $carousel_i_showing_hoverBackgroundColor;
                }
                &:hover{
                  background-color: $carousel_i_hoverBackgroundColor;
                }
              }
            }
            &>.carousel_btn {
              width: 36px;
              height: 88px;
              line-height: 88px;
              font-size: 30px;
              font-weight: 500;
              font-family: simsun;
              text-align: center;
              color: $white;
              background-color: $carousel_btn_backgroundColor;
              position: absolute;
              top: 0px;
              bottom: 0px;
              z-index: 150;
              opacity: 1;
              margin: auto 0;
              cursor: pointer;
              display: none;
              &.prev{
                left: 0px;
                right: auto;
                &:hover{
                  background-color: $carousel_btn_hoverBackgroundColor;
                  color: $carousel_btn_hoverColor;
                }
              }
              &.next{
                left: auto;
                right: 0px;
                &:hover{
                  background-color: $carousel_btn_hoverBackgroundColor;
                  color: $carousel_btn_hoverColor;
                }
              }
            }
            &:hover{
              &>.carousel {
                display: block;
              }
            }
          }
          &>.companyDescription{
            text-indent: 28px;
            line-height: 20px;
            margin-top: 20px;
            font-size: 14px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            padding: 10px;
          }
          &>.companyShops{
            padding: 0 10px;
            margin-top: 20px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            &>.shopClassify{
              height: 40px;
              line-height: 40px;
              font-size: 13px;
              &:not(last-child){
                border-bottom: dashed 1px $base_borderColor;
              }
              &>div:first-child{
                width: 80px;
                float: left;
                text-align: right;
              }
              &>div:last-child{
                width: calc(100% - 100px);
                margin-left: 20px;
                float: left;
                &>a{
                  height: 24px;
                  line-height: 24px;
                  padding: 0px 10px;
                  margin: 0 5px;
                  color: $base_color;
                  display: inline-block;
                  &.active{
                    background-color: $red;
                    color: $white;
                  }
                  &:not(.active):hover{
                    color: $red;
                  }
                }
              }
            }
          }
          &>.companySort{
            margin-top: 20px;
            height: 40px;
            line-height: 40px;
            border: solid 1px $base_borderColor;
            background-color: $base_backgroundColor;
            &>a{
              width: 90px;
              height: 38px;
              line-height: 38px;
              font-size: 14px;
              color: $base_color;
              text-align: center;
              display: inline-block;
              vertical-align: top;
              &.active{
                color: $white;
                background-color: $red;
              }
              &:not(.active):hover{
                color: $red;
              }
            }
          }
          &>.companyShow{
            &>ul{
              overflow: hidden;
              &>li{
                width: 270px;
                height: 340px;
                margin: 10px 13px;
                border: solid 1px $base_borderColor;
                float: left;
                &>a{
                  display: block;
                  &>.imgShow{
                    width: 268px;
                    height: 268px;
                    text-align: center;
                    position: relative;
                    margin: auto;
                    border-bottom: dashed 1px $base_borderColor;
                    &>img{
                      width: auto;
                      height: 100%;
                      max-width: 100%;
                      position: absolute;
                      top: 0px;
                      bottom: 0px;
                      left: 0px;
                      right: 0px;
                      margin: auto;
                    }
                  }
                  &>.description{
                    font-size: 13px;
                    color: $base_color;
                    line-height: 18px;
                    padding: 7px;
                    height: 45px;
                    overflow: hidden;
                    abbr{
                      text-decoration: none;
                      cursor: pointer;
                      border-bottom: none;
                    }
                  }
                  &>.price{
                    font-size: 15px;
                    color: $red;
                    line-height: 16px;
                    padding: 3px 10px;
                  }
                }
                &:hover{
                  border: solid 1px $red;
                }
              }
            }
          }
          &>.nothingError{
            height: 70px;
            line-height: 70px;
            padding-left: 30px;
            &>.description{
              font-size: 20px;
              color: $red;
              &>i{
                font-size: 25px;
                color: yellow;
              }
            }
            &>.text{
              font-size: 20px;
              color: $base_color;
            }
          }
        }
      }
    }
  }
}

