@charset "utf-8";

@import "page.param.1";

/*
 * page-sideFixed-1部分样式
 */
page-sidefixed-1{
  width: 35px;
  height: auto;
  display: block;
  .ScrollMonitor{
    width: 35px;
    background-color: $sideFixed_backgroundColor;
    &>li{
      width: 35px;
      &>a{
        width: 35px;
        text-align: center;
        padding: 7px 5px;
        font-size: 12px;
        color: $white;
        display: inline-block;
        cursor: pointer;
        &.bottom{
          background-color:$sideFixed_bottom_backgroundColor;
          border-top:solid 1px #ffffff;
        }
        &:hover,
        &.bottom:hover{
          color: $white;
          background-color: $deepRed;
        }
        &>span{
          display: block;
          width: 100%;
          font-size: 15px;
          margin: -2px 0 -3px 0;
        }
      }
      &:nth-of-type(n+2){
        &>a {
          border-top: solid .5px $sideFixed_borderColor;
        }
      }
      &.active{
        &>a{
          color: $white;
          background-color: $deepRed;
        }
      }
    }
  }
}
