<div class="page-footer-content">
    <div class="page-footer-navInfo">
       <ul>
           <li>
               <span>新手指南</span>
               <a href="#">如何购物</a>
               <a href="#">如何开店</a>
               <a href="#">如何加盟</a>
           </li>
           <li>
               <span>售后服务</span>
               <a href="#">服务理念</a>
               <a href="#">投诉建议</a>
               <a href="#">交易纷争</a>
           </li>
           <li>
               <span>交易安全</span>
               <a href="#">交易维权攻略</a>
               <a href="#">买家防骗攻略</a>
               <a href="#">专家防骗攻略</a>
           </li>
           <li>
               <span>关于我们</span>
               <a href="#">企业文化</a>
               <a href="#">平台规则</a>
               <a href="#">联系方式</a>
           </li>
           <li>
               <span>店铺管理</span>
               <a href="#">交易保障</a>
           </li>
       </ul>
    </div>
    <div class="page-footer-recordInfo">
        <div>
            <span>
                版权所有 中国xxxxx公司 浙ICP备xxxxx1235号-x Copyright © 2015-2020.xxxxxx.com. All Rights Reserved
                <img src="{{getPlatformImg "400.gif" "phone"}}">
            </span>
        </div>
    </div>
</div>