<div class="page-headerFixed-content">
    <div class="page-headerFixed-logo inlineBlock">
        <a href="/">
            <img src="{{getPlatformImg "logo.png" "logo"}}">
        </a>
    </div>
    <div  class="page-headerFixed-search inlineBlock">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn searchTypeBtn dropdown-toggle" data-toggle="dropdown">
                    {{#CONFIG.searchList}}
                        {{#if active}}
                            <span class="searchTypeText active" searchType="{{type}}">
                                {{name}}
                            </span>
                        {{/if}}
                    {{/CONFIG.searchList}}
                    <i class="fa fa-angle-down fa-fw"></i>
                </button>
                <ul class="dropdown-menu">
                    {{#CONFIG.searchList}}
                        <li class="searchType">
                            <a href="javascript:void(0);" searchType="{{type}}">{{name}}</a>
                        </li>
                    {{/CONFIG.searchList}}
                </ul>
            </div>
            <input type="text" class="form-control input-search"
                   value="{{CONFIG.searchCont}}">
            <div class="input-group-btn">
                <a class="btn btn-default btn-search">搜 索</a>
            </div>
        </div>
    </div>
    <div class="page-headerFixed-qrcode inlineBlock">
        <span class="fa fa-qrcode fa-fw inlineBlock"></span>
        <span class="inlineBlock qrcodeText">扫码关注</span>
        <span class="inlineBlock qrcodeImg">
           <img src="{{getPlatformImg "qrcode.png" "qrcode"}}"/>
        </span>
    </div>
</div>