<div class="page-header-content">
    <div class="page-header-logo inlineBlock">
        <a href="/">
            <img src="/app/images/logo.png">
        </a>
    </div>
    <div  class="page-header-search inlineBlock">
        <div class="searchType">
            {{#CONFIG.searchList}}
                <span class="inlineBlock {{active}}" searchType="{{type}}">{{name}}</span>
            {{/CONFIG.searchList}}
        </div>
        <div class="input-group">
            {{^CONFIG.searchCont}}
                <span class="glyphicon glyphicon-search placeholderIcon"></span>
            {{/CONFIG.searchCont}}
            <input type="text" class="form-control input-search" value="{{CONFIG.searchCont}}">
            <div class="input-group-btn">
                <a class="btn btn-default btn-search">搜 索</a>
            </div>
        </div>
    </div>
    <div class="page-header-qrcode inlineBlock">
        <span class="fa fa-qrcode fa-fw inlineBlock"></span>
        <span class="inlineBlock qrcodeText">扫码关注</span>
        <span class="inlineBlock qrcodeImg">
           <img src="/app/images/qrcode.png"/>
        </span>
    </div>
</div>