<div class="page-nav-content">
    <div class="page-nav-showCont">
        <div class="contType inlineBlock {{CONFIG.showed}}">
            <i class="fa fa-th fa-fw inlineBlock"></i>
            <span class="classify inlineBlock">货源市场</span>
            <ul>
                {{setULHeight RESPONSE}}
                {{#each RESPONSE}}
                    <li industry="{{id}}">
                        <span class="contTypeTitle">
                            <span>{{industryName}}</span>
                            <i class="fa fa-angle-right fa-fw"></i>
                        </span>
                        <div class="showContItemList">
                            <div>
                                <ul class="inlineBlock">
                                    {{#each dictList}}
                                        <li categoryDict="{{id}}">
                                            <span class="title">{{dictName}}</span>
                                            <div class="content">
                                                {{#each entryList}}
                                                    <a href="javascript:void(0)"
                                                       categoryEntryId="{{id}}"
                                                       categoryEntryName = {{entryName}}>
                                                        {{entryName}}
                                                    </a>
                                                {{/each}}
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                                <div class="recommend inlineBlock">
                                    <a class="inlineBlock">
                                        <img src="{{getTestImg "test_logo1.jpg"}}">
                                    </a>
                                    <a class="inlineBlock">
                                        <img src="{{getTestImg "test_logo2.jpg"}}">
                                    </a>
                                    <a class="inlineBlock">
                                        <img src="{{getTestImg "test_logo3.jpg"}}">
                                    </a>
                                    <a class="inlineBlock">
                                        <img src="{{getTestImg "test_logo4.jpg"}}">
                                    </a>
                                    <a class="inlineBlock">
                                        <img src="{{getTestImg "test_logo5.jpg"}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="contNav inlineBlock">
            <a href="#" class="inlineBlock">中国家具装潢建材馆</a>
            <a href="#" class="inlineBlock">中国工业元配件交易中心</a>
            <a href="#" class="inlineBlock">中国大宗商品交易中心</a>
            <a href="/app/webpage/searchCompany.html?memberName=" class="inlineBlock">商家商城</a>
            <a href="/app/webpage/searchShop.html?commodityName=" class="inlineBlock">商品商城</a>
        </div>
    </div>
</div>