<div class="page-shop-content">
    <div class="maxWidth">
        <div class="shopImg">
            <img src="{{RESPONSE.logoPath}}">
        </div>
    </div>
    <div class="shopInfo">
        <div class="maxWidth">
            <span>
                {{#each RESPONSE.commoditySearchList}}
                    {{#setRenderRange @index 1}}{{commodityName}}{{/setRenderRange}}
                {{/each}}
            </span>
            <span class="pull-right">
                {{#each RESPONSE.commoditySearchList}}
                    {{#setRenderRange @index 1}}{{memberName}}{{/setRenderRange}}
                {{/each}}
            </span>
        </div>
    </div>
    <div class="maxWidth">
        {{#each RESPONSE.commoditySearchList}}
            {{#setRenderRange @index 1}}
            <div class="shopDetails">
                <div class="imgs">
                    <div class="showImg">
                        {{#if picture1}}<img src="{{getImgUrl picture1}}">{{/if}}
                    </div>
                    <div class="otherImg">
                        {{#if picture1}}<img src="{{getImgUrl picture1}}" class="active">{{/if}}
                        {{#if picture2}}<img src="{{getImgUrl picture2}}">{{/if}}
                        {{#if picture3}}<img src="{{getImgUrl picture3}}">{{/if}}
                        {{#if picture4}}<img src="{{getImgUrl picture4}}">{{/if}}
                    </div>
                </div>
                <div class="infos">
                    <div class="title">{{commodityName}}</div>
                    <table class="priceTable">
                        <tbody>
                        <tr style="height:35px">
                            <td class="price">价格:</td>
                            <td>{{format_Money price}}</td>
                        </tr>
                        <tr style="height:38px">
                            <td class="">起批量:</td>
                            <td style="padding-left:15px;"> 面议 </td>
                        </tr>
                        </tbody>
                    </table>
                    {{#if size}}
                        <div class="size">
                            <span class="inlineBlock">商品尺码：</span>
                            <span class="inlineBlock active">{{size}}</span>
                        </div>
                    {{/if}}
                    {{#if color}}
                        <div class="color">
                            <span class="inlineBlock">商品颜色：</span>
                            <span class="inlineBlock active">{{color}}</span>
                        </div>
                    {{/if}}
                    <div class="term">
                        <span class="inlineBlock">期限：</span>
                        <span class="inlineBlock active">面议</span>
                    </div>
                    <div class="postage">
                        <span class="inlineBlock">邮费：</span>
                        <span class="inlineBlock active">面议</span>
                    </div>
                       <div class="quantity">
                           <span class="inlineBlock">库存：</span>
                          <span>{{quantity}}{{uom}}</span>
                       </div>
                       <div class="btn-collection"><span>联系商家</span>
                       </div>
                </div>
            </div>
            {{/setRenderRange}}
        {{/each}}
         <div class="maxWidth">
           <div class="shopInfo">
            <div class="shopInfo-left">
                {{#notShow}}
                    <ul class="classify">
                        <span>店内分类</span>
                        <li class="active"><a href="#">2017春装上新</a></li>
                        <li><a href="#">2017夏装上新</a></li>
                        <li><a href="#">实体新品</a></li>
                        <li><a href="#">运动时尚</a></li>
                        <li><a href="#">上装</a></li>
                        <li><a href="#">外套</a></li>
                        <li><a href="#">裤装</a></li>
                    </ul>
                {{/notShow}}
              <ul class="collect">
                    <span>热门收藏</span>
                  {{#each RESPONSE.commoditySearchList}}
                      {{#setRenderRange @index 5}}
                          <li>
                              <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}" target="_blank">
                                 <img src="{{getImgUrl picture1}}">
                                 <div class="price">{{format_Money price}}</div>
                              </a>
                          </li>
                      {{/setRenderRange}}
                  {{/each}}
              </ul>
            </div>
            <div class="shopInfo-right">
                <div class="header">
                    <a class="shopITem">商品信息</a>
                </div>
                <div class="shopDescription">
                    {{#each RESPONSE.commoditySearchList}}
                        {{#setRenderRange @index 1}}
                            <table class="shopDescriptionTable">
                                <tbody>
                                {{#if commodityName}}
                                    <tr>
                                        <td>商品名称：</td>
                                        <td>{{commodityName}}</td>
                                    </tr>
                                {{/if}}
                                {{#if commodityIntroduction}}
                                    <tr>
                                        <td>商品介绍：</td>
                                        <td>{{commodityIntroduction}}</td>
                                    </tr>
                                {{/if}}
                                {{#if packingSpecification}}
                                    <tr>
                                        <td>包装与规格：</td>
                                        <td>{{packingSpecification}}</td>
                                    </tr>
                                {{/if}}
                                {{#if instructions}}
                                    <tr>
                                        <td>使用说明：</td>
                                        <td>{{instructions}}</td>
                                    </tr>
                                {{/if}}
                                {{#if customerService}}
                                    <tr>
                                        <td>购买及售后：</td>
                                        <td>{{customerService}}</td>
                                    </tr>
                                {{/if}}
                                </tbody>
                            </table>
                        {{/setRenderRange}}
                    {{/each}}
                </div>
                <div class="shopDescriptionHtml">
                    {{#each RESPONSE.commoditySearchList}}
                        {{#setRenderRange @index 1}}
                            {{{ImgSrc showPageSource}}}
                        {{/setRenderRange}}
                    {{/each}}
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
<div class="modals_company">
    <div class="header">
        企业信息 <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="content">
        {{#each RESPONSE.commoditySearchList}}
            {{#setRenderRange @index 1}}
                <table class="table companyTable">
                    <tbody>
                    <tr>
                        <td>名称</td><td>{{memberName}}</td>
                    </tr>
                    <tr>
                        <td>地址</td><td>{{province}}{{city}}{{area}}{{address}}</td>
                    </tr>
                    <tr>
                        <td>电话</td><td>{{phone}}</td>
                    </tr>
                    <tr>
                        <td>手机</td><td>{{mobile}}</td>
                    </tr>
                    <tr>
                        <td>传真</td><td>{{fax}}</td>
                    </tr>
                    <tr>
                        <td>Email</td><td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>QQ</td><td>{{qq}}</td>
                    </tr>
                    <tr>
                        <td>信誉度</td><td>{{reputation}}</td>
                    </tr>
                    </tbody>
                </table>
            {{/setRenderRange}}
        {{/each}}
    </div>
</div>
