@charset "utf-8";
/*
 * page-body-nav部分样式
 */
.page-body-nav{
  @include page;
  &>.page-body-nav-content{
    @include pageContent(580px,28px,13px,#777);
    &>.nav_left{
      width: 200px;
      height: 532px;
      float: left;
      background-color: #fff;
      position: relative;
      .items{
        border-top: solid 1px $color_tangerine;
        li{
          height: 59px;
          padding:12px 16px 0 16px;
          position: relative;
          .title{
            font-size: 1.17em;
            font-weight: 500;
            color: #666;
          }
          a.item{
            font-size: 12px;
            color: #888;
            margin:0 2px;
            &:hover{
              color: $color_tangerine;
              cursor: pointer;
            }
          }
          span.fa-angle-right{
            color: #888;
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 16px;
          }
          &.hover{
            border-left: solid 1px $color_tangerine;
            border-top: solid 1px $color_tangerine;
            border-bottom: solid 1px $color_tangerine;
            .title{
              font-weight: 600;
            }
            span.fa-angle-right{
              display: none;
            }
            &::after{
              content:"";
              width: 1px;
              height: 100%;
              background-color: #f9f9f9;
              position: absolute;
              z-index: 88;
              top: 0px;
              left: auto;
              right: -1px;
            }
          }
        }
      }
    }
    &>.nav_right{
      width: 900px;
      height: 532px;
      float: right;;
      position: relative;
      &>.nav_center_content1{
        width: 880px;
        height: 100%;
        position: absolute;
        left: 15px;
        z-index: 80;
        &>.banner{
          width: 100%;
          height: 300px;
          float: left;
          position: relative;
          &>a{
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 99;
            &.show{
              z-index: 100;
            }
            &>.img{
              width: 100%;
              height: 100%;
            }
          }
          .carousel{
            width: 24px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
            font-weight: 400;
            font-family: simsun;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,.45);
            position: absolute;
            top: 0px;
            bottom: 0px;
            margin: auto 0;
            cursor: pointer;
            &.prev{
              left: 0px;
              right: auto;
            }
            &.next{
              left: auto;
              right: 0px;
            }
          }
          .carousel_list{
            max-width: 176px;
            line-height: 12px;
            padding: 6px 12px;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 15px;
            z-index: 101;
            margin: 0 auto;
            border-radius: 13px;
            background-color:  rgba(255,255,255,.5);
            i{
              width: 12px;
              height: 12px;
              margin: 0 5px;
              border-radius: 100%;
              display: inline-block;
              background-color:  #fff;
              cursor: pointer;
              &.active{
                height: 5px;
                vertical-align: 3px;
                border-radius: 0px;
                background-color:  #db192a;
              }
              &:hover{
                background-color: #ffced8;
              }
            }
          }
        }
        &>.footer{
          width: 880px;
          height: 220px;
          clear: both;
          position: relative;
          top: 10px;
          &>.imgs{
            width: 100%;
            height: 100%;
            position: relative;
            &>a {
              width: 210px;
              height: 220px;
              float: left;
              display: inline-block;
              border: solid 1px #999;
              &:not(:first-child){
                margin-left: 13px;
              }
              &>img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      &>.nav_center_content2{
        width: 100%;
        padding: 25px 0 25px 30px;
        position: absolute;
        z-index: 81;
        background-color: #fff;
        border: solid 1px $color_tangerine;
        box-shadow: 4px 0px 8px rgba(255, 66, 0, .35);
        display: none;
        ul.nav_detail{
          width: 645px;
          min-height: 255px;
          max-height: 483px;
          vertical-align: top;
          display: inline-block;
          overflow: hidden;
          li {
            width: 190px;
            height: 100px;
            float: left;
            margin: 0 25px 25px 0;
            overflow: hidden;
            .title{
              width:100%;
              line-height: 18px;
              font-size: 14px;
              font-weight: 600;
              padding: 0 0 4px 6px;
              border-bottom: solid 1px #ddd;
              display: inline-block;
            }
            .item{
              padding-top: 6px;
              line-height: 18px;
              a{
                margin: 0 6px 5px 6px;
                font-size: 12px;
                color: #666;
                display: inline-block;
                &:hover{
                  color: $color_tangerine;
                  cursor: pointer;
                }
              }
            }
          }
        }
        ul.nav_nominate {
          width: 200px;
          min-height: 255px;
          max-height: 483px;
          vertical-align: top;
          display: inline-block;
          &>a{
            width: 100%;
            height: 85px;
            display: inline-block;
            margin: 10px 0;
            &>img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}