@charset "utf-8";
/**
 * Created by linpengteng on 2017/5/22.
 */

body{
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif, "微软雅黑";
  font-size: 14px;
  background-color: #f9f9f9;
  *{
    margin: 0;
    padding: 0;
  }
  a,
  a:link,
  a:hover,
  a:hover,
  a:active,
  a:focus,
  a:visited,
  a:hover:active,
  a:hover:focus,
  a:hover:focus:active{
    color: #333;
    text-decoration: none;
    background-color: transparent;
  }
}

input:focus{
  outline: 0;
  box-shadow: none;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
  vertical-align: top;
}

.hide{
  display: none;
}

.float-left{
  float: left!important;
}

.float-right{
  float: right!important;
}