<div class="page-header-top">
    <div class="page-header-top-content">
        <div class="float-left">
            <span class="inline-block" style="font-size:18px;vertical-align:-2px;color: #ca3719;">
                <i class="fa fa-map-marker fa-fw"></i>
            </span>
            <span class="inline-block" style="margin-left:-4px;">{{#region}}{{localCity}}{{/region}}</span>
        </div>
        <div  class="float-right">
            <span class="inline-block">欢迎来到中国国际商贸城</span>
            <!-- <span class="inline-block">请登录</span> -->
            <!-- <span class="inline-block">免费注册</span> -->
        </div>
    </div>
</div>