<div class="page-body-nav">
    <div class="page-body-nav-content">
        <div class="nav_left">
          <ul class="items">
              <li items-index="0">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="1">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li  items-index="2">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="3">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="4">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="5">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="6">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="7">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li items-index="8">
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
          </ul>
        </div>
        <div class="nav_right">
            <div class="nav_center_content1">
                <div class="banner">
                    <a href="#img1"><img src="/app/images/test_1.jpg"/></a>
                    <a href="#img2"><img src="/app/images/test_2.jpg"/></a>
                    <a href="#img3"><img src="/app/images/test_3.jpg"/></a>
                    <a href="#img4"><img src="/app/images/test_4.jpg"/></a>
                    <a href="#img5"><img src="/app/images/test_5.jpg"/></a>
                    <a href="#img6"><img src="/app/images/test_6.jpg"/></a>
                    <span class="carousel_list">
                        <i class="carousel_i active"></i>
                        <i class="carousel_i"></i>
                        <i class="carousel_i"></i>
                        <i class="carousel_i"></i>
                        <i class="carousel_i"></i>
                        <i class="carousel_i"></i>
                    </span>
                    <a class="carousel prev"><</a>
                    <a class="carousel next">></a>
                </div>
                <div class="footer">
                    <div class="imgs">
                        <a href="#img1"><img src="/app/images/test_7.jpg"/></a>
                        <a href="#img2"><img src="/app/images/test_8.jpg"/></a>
                        <a href="#img3"><img src="/app/images/test_7.jpg"/></a>
                        <a href="#img4"><img src="/app/images/test_8.jpg"/></a>
                    </div>
                </div>
            </div>
            <div class="nav_center_content2">
                <ul class="nav_detail">
                    <li>
                        <span class="title">进口食品</span>
                        <div class="item">
                            <a href="#1">休闲零食</a>
                            <a href="#1">饼干蛋糕</a>
                            <a href="#1">橄榄油</a>
                            <a href="#1">坚果蜜饯</a>
                            <a href="#1">进口牛奶</a>
                            <a href="#1">方便食品</a>
                            <a href="#1">饮料冲调</a>
                        </div>
                    </li>
                    <li>
                        <span class="title">进口食品</span>
                        <div class="item">
                            <a href="#1">休闲零食</a>
                            <a href="#1">饼干蛋糕</a>
                            <a href="#1">橄榄油</a>
                            <a href="#1">坚果蜜饯</a>
                            <a href="#1">进口牛奶</a>
                            <a href="#1">方便食品</a>
                            <a href="#1">饮料冲调</a>
                        </div>
                    </li>
                    <li>
                        <span class="title">进口食品</span>
                        <div class="item">
                            <a href="#1">休闲零食</a>
                            <a href="#1">饼干蛋糕</a>
                            <a href="#1">橄榄油</a>
                            <a href="#1">坚果蜜饯</a>
                            <a href="#1">进口牛奶</a>
                            <a href="#1">方便食品</a>
                            <a href="#1">饮料冲调</a>
                        </div>
                    </li>
                    <li>
                        <span class="title">进口食品</span>
                        <div class="item">
                            <a href="#1">休闲零食</a>
                            <a href="#1">饼干蛋糕</a>
                            <a href="#1">橄榄油</a>
                            <a href="#1">坚果蜜饯</a>
                            <a href="#1">进口牛奶</a>
                            <a href="#1">方便食品</a>
                            <a href="#1">饮料冲调</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav_nominate">
                    <a href="#img1"><img src="/app/images/test_9.jpg"/></a>
                    <a href="#img2"><img src="/app/images/test_10.jpg"/></a>
                    <a href="#img3"><img src="/app/images/test_11.jpg"/></a>
                </ul>
            </div>
        </div>
    </div>
</div>