<div class="page-body-nav">
    <div class="page-body-nav-content">
        <div class="nav_left">
          <ul class="items">
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
              <li>
                  <h3 class="title">清洁用品</h3>
                  <a class="item">纸品湿巾</a>
                  <a class="item">衣物清洁</a>
                  <a class="item">家庭清洁</a>
                  <span class="fa fa-angle-right fa-fw"></span>
              </li>
          </ul>
        </div>
        <div class="nav_center">
            <div class="banner"></div>
            <div class="footer"></div>
        </div>
        <div class="nav_right">
            <div class="banner"></div>
            <div class="footer"></div>
        </div>
    </div>
</div>