<div class="page-header-center">
    <div class="page-header-center-content">
        <div class="page-header-center-logo">
            <img src="/app/images/logo.png">
        </div>
        <div  class="page-header-center-search">
            <div>
                <span class="inline-block classify-baby active">宝贝</span>
                <span class="inline-block classify-shop">店铺</span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                    <a class="btn btn-default">搜<span style="margin:0 7px;"></span>索</a>
                </div>
            </div>
        </div>
    </div>
</div>