
@font-face {font-family: "uFont";
  src: url('uFont.eot?'); /* IE9*/
  src: url('uFont.eot?') format('embedded-opentype'), /* IE6-IE8 */
  url('uFont.woff?') format('woff'), /* chrome, firefox */
  url('uFont.ttf?') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('uFont.svg?') format('svg'); /* iOS 4.1- */
}

.uFont {
  font-family:"uFont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.font-base_eagle:before { content: "\e600"; }
.font-base_info:before { content: "\e601"; }
.font-base_success:before { content: "\e602"; }
.font-base_fail:before { content: "\e603"; }
.font-base_directionUp:before { content: "\e604"; }
.font-base_directionDown:before { content: "\e605"; }
.font-base_directionLeft:before { content: "\e606"; }
.font-base_directionRight:before { content: "\e607"; }
.font-base_up:before { content: "\e608"; }
.font-base_down:before { content: "\e609"; }
.font-base_left:before { content: "\e60a"; }
.font-base_right:before { content: "\e60b"; }
.font-base_appCenter:before { content: "\e60c"; }
.font-base_game:before { content: "\e60d"; }
.font-base_video:before { content: "\e60e"; }
.font-base_music:before { content: "\e60f"; }
.font-base_camera:before { content: "\e610"; }
.font-base_photo:before { content: "\e611"; }
.font-base_searchPhoto:before { content: "\e612"; }
.font-base_barcode:before { content: "\e613"; }
.font-base_scanBarcode:before { content: "\e614"; }
.font-base_qrcode:before { content: "\e615"; }
.font-base_scanQrcode:before { content: "\e616"; }
.font-company_1:before { content: "\e7000"; }
.font-company_2:before { content: "\e7001"; }
.font-company_3:before { content: "\e7002"; }
.font-company_4:before { content: "\e7003"; }
.font-company_guarantee:before { content: "\e7004"; }
.font-company_highQuality:before { content: "\e7005"; }
.font-company_sincerity:before { content: "\e7006"; }
.font-company_returnGoods:before { content: "\e7007"; }
.font-company_halfStar:before { content: "\e7008"; }
.font-company_star:before { content: "\e7009"; }
.font-company_newShop:before { content: "\e700a"; }
.font-company_hotShop:before { content: "\e700b"; }


