<div class="page-search-content">
    <div class="recommImg">
        <a href="#">
            <div>
                <img src="/app/images/rest_recomm1.jpg">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="/app/images/rest_recomm2.jpg">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="/app/images/rest_recomm3.jpg">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="/app/images/rest_recomm4.jpg">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="/app/images/rest_recomm5.jpg">
            </div>
        </a>
    </div>
</div>