<div class="page-banner-content">
    <div class="bannerImg">
        {{#page-banner-1}}
            {{#each INDEX_BANNER.modelList}}
                <a href="{{href}}" class="inlineBlock" index="{{@index}}"
                   style="background-image: url({{picPath}});
                           z-index:{{getzIndex @index}}">
                </a>
            {{/each}}
            <span class="carousel_list">
                {{#each INDEX_BANNER.modelList}}
                    <i class="carousel_i{{isFirst @index "showing"}}" index="{{@index}}"></i>
                {{/each}}
            </span>
        {{/page-banner-1}}
    </div>
    <div class="bannerInfo">
        <div>
            <span><i class="uFont font-company_1"></i>公平公正</span>
            <span><i class="uFont font-company_2"></i>诚信为本</span>
            <span><i class="uFont font-company_3"></i>全心服务</span>
            <span><i class="uFont font-company_4"></i>合作共赢</span>
        </div>
    </div>
</div>