<div class="page-top-content">
    <div class="floatLeft">
        <span class="inlineBlock iconMapMarker">
            <i class="fa fa-map-marker"></i>
            {{RESPONSE.LOCAL_CITY}}
            <span class="caret"></span>
        </span>
        <span class="inlineBlock login">
            <a href="#" class="inlineBlock">请登录</a>
            <a href="#" class="inlineBlock">免费注册</a>
        </span>
    </div>
    <div class="floatRight">
            <span>
                <i class="fa fa-list-ul fa-fw"></i>网站导航<i class="fa fa-angle-down fa-fw"></i>
                <ul style="width:482px;height:150px;">
                    <li>
                        <span>特色主题</span>
                        <ul class="many" style="width:240px;">
                            <li><a href="#">品牌头条</a></li>
                            <li><a href="#">优惠券</a></li>
                            <li><a href="#">会员特权</a></li>
                            <li><a href="#">企业服务</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>行业频道</span>
                        <ul class="many" style="width:240px;">
                            <li><a href="#">服装城</a></li>
                            <li><a href="#">家用电器</a></li>
                            <li><a href="#">电脑办公</a></li>
                            <li><a href="#">手机</a></li>
                            <li><a href="#">运动户外</a></li>
                            <li><a href="#">智能设备</a></li>
                        </ul>
                    </li>
                </ul>
            </span>
            <span>
                <i class="fa fa-list-ul fa-fw"></i>平台服务<i class="fa fa-angle-down fa-fw"></i>
                <ul style="width:242px;height:150px;">
                    <li>
                        <span>商户</span>
                        <ul class="one">
                            <li><a href="#">合作招商</a></li>
                            <li><a href="#">规则平台</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>客户</span>
                        <ul class="one">
                            <li><a href="#">帮助中心</a></li>
                            <li><a href="#">意见建议</a></li>
                            <li><a href="#">电话客服</a></li>
                        </ul>
                    </li>
                </ul>
            </span>
    </div>
</div>