<div class="page-company-content" memberId="{{RESPONSEDATA.memberId}}">
    <div class="maxWidth">
        <div class="companyLogo">
            <img src="{{getImgUrl RESPONSEDATA.topPicPath}}">
        </div>
    </div>
    <div class="companyHeader">
        <div class="maxWidth">
            <span class="companyName">{{RESPONSEDATA.memberName}}</span>
        </div>
    </div>
    <div class="maxWidth">
        <div class="companyInfo">
            <div class="companyContentLeft">
                <div class="infoTitle"> 企业信息 </div>
                <div class="infoDescription">
                    <span class="one">经营者：</span><span class="two">{{RESPONSEDATA.operator}}</span>
                    <span class="one">电话：</span><span class="two">{{RESPONSEDATA.mobile}}</span>
                    <span class="one">手机：</span><span class="two">{{RESPONSEDATA.phone}}</span>
                    <span class="one">邮箱：</span><span class="two">{{RESPONSEDATA.email}}</span>
                    <span class="one">QQ号：</span><span class="two">{{RESPONSEDATA.qq}}</span>
                    <span class="one">商家信用:</span><span class="two">{{RESPONSEDATA.reputation}}</span>
                    <span class="one">经营类目:</span>
                    <span class="two">
                        {{#each RESPONSEDATA.industryList}}
                            {{convertStr industryName "、"}}、
                        {{/each}}
                    </span>
                    <span class="one">商铺地址:</span>
                    <span class="two">
                        {{#RESPONSEDATA}}
                            {{province}}{{city}}{{area}}{{address}}
                        {{/RESPONSEDATA}}
                    </span>
                    <span class="one">主营商品:</span>
                    <span class="two">
                        {{RESPONSEDATA.product}}
                    </span>
                    <span class="one" style="margin: 6px 0 10px 0px;">
                        <a href="javascript:void(0)" class="licenseBtn" licensePath="{{licensePath}}">营业执照</a>
                    </span>
                    <span class="one pull-right" style="margin: 6px 0 10px 0px;">
                        <a href="javascript:void(0)" class="collectionBtn">收藏店铺</a>
                    </span>
                </div>
                <div class="pictrueTitle"> 企业相册 </div>
                <div class="pictrueDescription">
                    {{#each RESPONSEDATA.queryShop.memberGoodCommodityList}}
                        {{#setRenderRange @index 4}}
                            <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}" target="_blank">
                                <img src="{{getImgUrl picture1}}">
                                <div class="price">{{format_Money price}}</div>
                            </a>
                        {{/setRenderRange}}
                    {{/each}}
                </div>
            </div>
            <div class="companyContentRight">
                <div class="companyImg">
                    {{#each RESPONSEDATA.fileList}}
                        <img src="{{getImgUrl finalName suffix}}" index={{@index}} style="z-index:{{zIndexDesc @index 100}}">
                    {{/each}}
                    {{#if RESPONSEDATA.fileList}}
                        <span class="carousel_list">
                            {{#each RESPONSEDATA.fileList}}
                                <i class="carousel_i {{addElementClass @index 0 'showing'}}" index="{{@index}}"></i>
                            {{/each}}
                        </span>
                        <a class="carousel_btn prev"><</a>
                        <a class="carousel_btn next">></a>
                    {{/if}}
                </div>
                <div class="companyDescription">
                    {{RESPONSEDATA.aboutUs}}
                </div>
                <div class="companyShops">
                    <div class="shopClassify commodityCategory2">
                        <div>主营类目:</div>
                        <div>
                            {{#each RESPONSEDATA.queryShop.commodityCategory2}}
                                <a href="javascript:void(0)" class="commodityCategory2Item">{{.}}</a>
                            {{/each}}
                        </div>
                    </div>
                    <div class="shopClassify commodityCategory3">
                        <div>类型分类:</div>
                        <div>
                            {{#each RESPONSEDATA.queryShop.commodityCategory3}}
                                <a href="javascript:void(0)" class="commodityCategory3Item">{{.}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="companySort">
                    <a href="javascript:void(0)" class="active">综合排序</a>
                    <a href="javascript:void(0)" class="filterHot">热销
                        <i class="uFont font-base_directionDown" style="vertical-align:-2px;"></i>
                    </a>
                    <a href="javascript:void(0)" class="filterPrice">价格
                        <i class="uFont font-base_directionDown" style="vertical-align:-2px;"></i>
                    </a>
                </div>
                <div class="companyShow">
                    <ul>
                        {{#each RESPONSEDATA.queryShop.commoditySearchList}}
                            {{#setRenderRange @index 5}}
                                <li>
                                    <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}" target="_blank">
                                        <div class="imgShow">
                                            <img src="{{getImgUrl picture1}}">
                                        </div>
                                        <div class="description">
                                            <abbr title="{{commodityName}}">
                                                {{commodityName}}
                                            </abbr>
                                        </div>
                                        <div class="price">
                                            {{format_Money price}}
                                        </div>
                                    </a>
                                </li>
                            {{/setRenderRange}}
                        {{/each}}
                    </ul>
                </div>
                <div class="load-pagePagination"></div>
            </div>
        </div>
    </div>
</div>