<div class="page-shop-content">
    <div class="maxWidth">
        <div class="shopImg">
            <img src="/app/images/test/test_shop_2.jpg">
        </div>
    </div>
    <div class="shopInfo">
        <div class="maxWidth">
            <span>化妆产品>伊利莎白雅顿公司>香水</span>
            <span class="pull-right">伊利莎白雅顿公司</span>
        </div>
    </div>
    <div class="maxWidth">
        <div class="shopDetails">
            <div class="imgs">
                <div class="showImg">
                    <img src="/app/images/test/test_b2.jpg">
                </div>
                <div class="otherImg">
                    <img src="/app/images/test/test_b4.jpg">
                    <img src="/app/images/test/test_b6.jpg">
                    <img src="/app/images/test/test_b7.jpg">
                    <img src="/app/images/test/test_b2.jpg" class="active">
                </div>
            </div>
            <div class="infos">
                <div class="title">伊丽莎白雅顿5th第五大道女士香水持久清新优雅淡香水</div>
                <div class="price"><span>价格：</span>
                    <span class="priceColor">￥1200.00</span>
                </div>
                <div class="promotion"><span>促销价：</span>
                    <span class="promotionColor">￥619.00</span>
                </div>
                <div class="size"><span>功效：</span>
                    <span class="inlineBlock active">面霜</span>
                    <span class="inlineBlock">护肤</span>
                    <span class="inlineBlock">提拉紧致</span>
                    <span class="inlineBlock">保湿美容</span>
                </div>
                <div class="color"><span>分类：</span>
                    <abbr title="浅色"><span>
                        <img src="/app/images/test/test_b2.jpg" class="active">
                    </span></abbr>
                    <abbr title="深色"><span>
                        <img src="/app/images/test/test_b4.jpg">
                    </span></abbr>
                </div>
                <div class="quantity"><span>数量：</span>
                    <span>库存：339件</span>
                </div>
                <a class="btn btn-default btn-collection">加入收藏</a>
                <span style="font-size:16px;">累计收藏 <span class="collectionColor">50000</span></span>
            </div>
        </div>
    </div>
    <div class="maxWidth">
        <div class="shopInfo">
            <div class="shopInfo-left">
              <ul class="classify">
                  <span>店内分类</span>
                  <li class="active"><a href="#">2017春装上新</a></li>
                  <li><a href="#">2017夏装上新</a></li>
                  <li><a href="#">保湿美容</a></li>
                  <li><a href="#">控油平衡</a></li>
                  <li><a href="#">美白抗衰</a></li>
                  <li><a href="#">深层清洁</a></li>
                  <li><a href="#">细致毛孔</a></li>
              </ul>
                <ul class="collect">
                    <span>热门收藏</span>
                    <li><a href="/app/webpage/shop2.html">
                        <img src="/app/images/test/test_b2.jpg">
                        <div class="price">￥619.00</div>
                    </a></li>
                    <li><a href="/app/webpage/shop2.html">
                        <img src="/app/images/test/test_b3.jpg">
                        <div class="price">￥619.00</div>
                    </a></li>
                    <li><a href="/app/webpage/shop2.html">
                        <img src="/app/images/test/test_b4.jpg">
                        <div class="price">￥619.00</div>
                    </a></li>
                    <li><a href="/app/webpage/shop2.html">
                        <img src="/app/images/test/test_b5.jpg">
                        <div class="price">￥619.00</div>
                    </a></li>
            </div>
            <div class="shopInfo-right">
                <div class="header">
                    <a class="shopITem">商品信息</a>
                </div>
                <div class="shopDescription">
                    <ul>
                        <li>
                            <span>商品名称：伊丽莎白雅顿香水...</span>
                            <span>独立装香调：花果香调</span>
                            <span>性别：通用</span>
                        </li>
                        <li>
                            <span>商品编号：189086</span>
                            <span>香调：花果香调</span>
                            <span>适用场景：日常，约会，商务</span>
                        </li>
                        <li>
                            <span>商品毛重：100.00g</span>
                            <span>净含量：16ml-30ml</span>
                        </li>
                        <li>
                            <span>商品产地：美国包装</span>
                            <span>分类：淡香水EDT</span>
                        </li>
                    </ul>
                </div>
                <div class="shopDescriptionImg">
                    <img src="/app/images/test/test_shop_21.png">
                    <img src="/app/images/test/test_shop_22.png">
                </div>
            </div>
        </div>
    </div>
</div>