<div class="page-info-content">
    <div class="header">
        {{#INFO}}
            <div class="title">{{popularizeName}}</div>
            <div class="list">
                {{#each popularizeList}}
                    {{#each items}}
                        <a href="{{.}}">{{@key}}</a>
                    {{/each}}
                {{/each}}
            </div>
        {{/INFO}}
    </div>
    <div class="body">
        <div class="content">
            {{#each INFO.RESPONSEDATA.modelList}}
                {{#isShow @index 9}}
                    {{#isFirst @index}}
                        <a class="shop big" productId="{{productId}}"  href="/app/webpage/company2.html">
                            <img src="{{getImgUrl picPath}}"/>
                        </a>
                    {{/isFirst}}
                    {{#notFirst @index}}
                        <a class="shop small" productId="{{productId}}" href="/app/webpage/shop2.html">
                            <div class="shopImg">
                                <img src="{{getImgUrl picPath}}"/>
                            </div>
                            <div class="text">
                                <span class="description">
                                    {{description}}
                                </span>
                                <span class="price">{{parsefloat price}}</span>
                            </div>
                        </a>
                    {{/notFirst}}
                {{/isShow}}
            {{/each}}
        </div>
    </div>
</div>