<div class="page-body-infoA">
    <div class="infoAContent">
        {{#infoA}}
            <div class="header">
                {{#header}}
                    <div class="title">{{title}}</div>
                    <div class="list">
                        {{#each list}}
                            {{#each .}}
                                <a href="{{.}}">{{@key}}</a>
                            {{/each}}
                        {{/each}}
                    </div>
                {{/header}}
            </div>
            <div class="body">
                <div class="infoContent">
                    <div class="infoLogos">
                        {{#each main}}
                            {{#isShow @index 5}}
                                {{#each .}}
                                    <span index="{{../@index}}" class="{{isFirst ../@index "active"}}">
                                        <img src="{{logoImg}}"/>
                                    </span>
                                {{/each}}
                            {{/isShow}}
                        {{/each}}
                    </div>
                    <div class="infoShow">
                        {{#each main}}
                            {{#isShow @index 5}}
                                {{#each .}}
                                    <ul index="{{../@index}}">
                                        {{#if bannerInfo}}
                                            <li class="bannerInfo">
                                                {{#each bannerInfo}}
                                                    <div index="{{@index}}">
                                                        <div class="text">
                                                        <span>
                                                          <i class="title">{{title}}</i>
                                                          <i class="description">{{description}}</i>
                                                        </span>
                                                            <span style="margin-top:0px;">
                                                          <i class="price">{{parsefloat price}}</i>
                                                          <a href="{{url}}" class="btn">立即抢购</a>
                                                        </span>
                                                        </div>
                                                        <div class="img">
                                                            <img src="{{img}}"/>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                                <span class="carousel_list">
                                                    {{#each bannerInfo}}
                                                        <i class="carousel_i {{isFirst @index "showed"}}"
                                                           index="{{@index}}">
                                                        </i>
                                                    {{/each}}
                                                </span>
                                            </li>
                                        {{/if}}
                                        {{#each generalInfo}}
                                            {{#isShow @index 7}}
                                                <li class="generalInfo">
                                                    <a href="{{url}}">
                                                        <div class="text">
                                                            <i class="title">{{shortTitle}}</i>
                                                            <i class="price">{{parsefloat price}}</i>
                                                        </div>
                                                        <div class="img">
                                                            <img src="{{img}}"/>
                                                        </div>
                                                    </a>
                                                </li>
                                            {{/isShow}}
                                        {{/each}}
                                    </ul>
                                {{/each}}
                            {{/isShow}}
                        {{/each}}
                    </div>
                </div>
                <div class="logoBanner">
                    <div>
                        <ul class="logoUl" style="left:0px;">
                            {{#main}}
                                {{#each .}}
                                    <li>
                                        <a href="{{logoUrl}}">
                                            <img src="{{logoImg}}"/>
                                        </a>
                                    </li>
                                {{/each}}
                            {{/main}}
                        </ul>
                    </div>
                    <a class="carousel prev"><</a>
                    <a class="carousel next">></a>
                </div>
            </div>
        {{/infoA}}
    </div>
</div>