<div class="page-info-content">
    <div class="header">
        {{#RESPONSEDATA}}
            <div class="title">{{popularizeName}}</div>
            {{#if popularizeList}}
                <div class="list">
                    {{#each popularizeList}}
                        {{#each items}}
                            <a href="{{.}}">{{@key}}</a>
                        {{/each}}
                    {{/each}}
                </div>
            {{else}}
                <div class="more">
                    <a href="javascript:void(0)" toSearchShop={{popularizeName}}>更多商品<span>>></span></a>
                </div>
            {{/if}}
        {{/RESPONSEDATA}}
    </div>
    <div class="body">
        <div class="content">
            {{#each RESPONSEDATA.modelList}}
                {{#setRenderRange @index 9}}
                    {{#isFirst @index}}
                        <a class="shop big">
                            <img src="{{getImgUrl picPath}}"/>
                        </a>
                    {{/isFirst}}
                    {{#notFirst @index}}
                        <a class="shop small" href="/app/webpage/shop.html?memberId= &commodityId={{productId}}" target="_blank">
                            <div class="shopImg">
                                <img src="{{getImgUrl picPath}}"/>
                            </div>
                            <div class="text">
                                <span class="description">
                                    {{description}}
                                </span>
                                <span class="price">{{format_Money price}}</span>
                            </div>
                        </a>
                    {{/notFirst}}
                {{/setRenderRange}}
            {{/each}}
        </div>
    </div>
</div>