<div class="page-searchShop-content">

    {{#RESPONSEDATA}}
        <div class="resultCategory">
            <span class="inlineBlock">全部结果</span>
            <i class="rightIcon">></i>
            <span class="inlineBlock searchCont">{{CONFIG.searchCont}}</span>
        </div>
        <div class="classifyCategory">
            {{#if brand}}
                <div class="brand">
                    <div>
                        <span class="classifyType">品牌</span>
                    </div>
                    <div>
                        <div>
                            {{#each brand}}
                                <a href="javascript:void(0)" brand>
                                    <span>{{convertStr .}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if commodityCategory2}}
                <div class="commodityCategory2">
                    <div>
                        <span class="classifyType">产品</span>
                    </div>
                    <div>
                        <div>
                            {{#each commodityCategory2}}
                                <a href="javascript:void(0)" commodityCategory2>
                                    <span>{{convertStr .}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if commodityCategory3}}
                <div class="commodityCategory3">
                    <div>
                        <span class="classifyType">类型</span>
                    </div>
                    <div>
                        <div>
                            {{#each commodityCategory3}}
                                <a href="javascript:void(0)" commodityCategory3>
                                    <span>{{convertStr .}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if color}}
                <div class="color">
                    <div>
                        <span class="classifyType">颜色</span>
                    </div>
                    <div>
                        <div>
                            {{#each color}}
                                <a href="javascript:void(0)" color>
                                    <span>{{convertStr .}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if size}}
                <div class="size">
                    <div>
                        <span class="classifyType">规格</span>
                    </div>
                    <div>
                        <div>
                            {{#each size}}
                                <a href="javascript:void(0)" size>
                                    <span>{{convertStr .}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="filter">
            <div class="btn-group inlineBlock">
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterDefault active">默认
                    <i class="uFont font-base_directionDown"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterHot">热销
                    <i class="uFont font-base_directionDown"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterPrice">价格
                    <i class="uFont font-base_directionDown"></i>
                </a>
            </div>
            <div class="inputGroup inlineBlock priceRegion">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <span class="input-group-addon">-</span>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <a href="javascript:void(0)" class="btn priceRegionBtn">确定</a>
            </div>
        </div>
    {{/RESPONSEDATA}}
    {{#if RESPONSEDATA.commoditySearchList}}
        <div class="ShopList">
            <ul>
                {{#each RESPONSEDATA.commoditySearchList}}
                    <li class="inlineBlock">
                        <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}">
                            <div class="imgBox">
                                <img src="{{getImgUrl picture1}}">
                            </div>
                        </a>
                        <div class="info">
                            <div class="showImg">
                                <div class="box"><img src="{{getImgUrl picture1}}" class="active"></div>
                                {{#if picture2}}<div class="box"><img src="{{getImgUrl picture2}}"></div>{{/if}}
                                {{#if picture3}}<div class="box"><img src="{{getImgUrl picture3}}"></div>{{/if}}
                                {{#if picture4}}<div class="box"><img src="{{getImgUrl picture4}}"></div>{{/if}}
                            </div>
                            <div class="showPrice">
                                {{format_Money price}}
                            </div>
                            <div class="showText">
                                <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}" target="_blank">
                                    <abbr title="{{commodityName}}"> {{commodityName}}</abbr>
                                </a>
                            </div>
                        </div>
                        <div class="mark">
                            <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank"
                               class="inlineBlock">
                                <abbr title="{{memberName}}">{{memberName}}</abbr>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="load-pagePagination"></div>
        </div>
    {{else}}
        <div class="nothingError">
            <span class="description"><i class="fa fa-warning fa-fw"></i>抱歉没有找到</span>
            <span class="description">相关商品!</span>
        </div>
    {{/if}}
</div>