<div class="page-searchShop-content">

    {{#RESPONSE}}
        <div class="resultCategory">
            <span class="inlineBlock">全部结果</span>
            <i class="rightIcon">></i>
            {{#CONFIG.brand}}
                <a href="javascript:void(0)" class="brand">
                    <abbr title="{{CONFIG.brand}}">
                        <span class="classifyType">品牌</span>
                        <span class="classCont">{{CONFIG.brand}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.brand}}
            {{#CONFIG.commodityCategory2}}
                <a href="javascript:void(0)" class="commodityCategory2">
                    <abbr title="{{CONFIG.commodityCategory2}}">
                        <span class="classifyType">产品</span>
                        <span class="classCont">{{CONFIG.commodityCategory2}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.commodityCategory2}}
            {{#CONFIG.commodityCategory3}}
                <a href="javascript:void(0)" class="commodityCategory3">
                    <abbr title="{{CONFIG.commodityCategory3}}">
                        <span class="classifyType">类型</span>
                        <span class="classCont">{{CONFIG.commodityCategory3}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.commodityCategory3}}
            {{#CONFIG.color}}
                <a href="javascript:void(0)" class="color">
                    <abbr title="{{CONFIG.color}}">
                        <span class="classifyType">颜色</span>
                        <span class="classCont">{{CONFIG.color}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.color}}
            {{#CONFIG.size}}
                <a href="javascript:void(0)" class="size">
                    <abbr title="{{CONFIG.size}}">
                        <span class="classifyType">规格</span>
                        <span class="classCont">{{CONFIG.size}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.size}}
            {{#CONFIG.priceRegion}}
                <a href="javascript:void(0)" class="priceRegion">
                    <abbr title="{{CONFIG.priceRegion}}">
                        <span class="classifyType">价格</span>
                        <span class="classCont">{{CONFIG.priceRegion}}</span>
                        <span class="deleteIcon"></span>
                    </abbr>
                </a>
                <i class="rightIcon">></i>
            {{/CONFIG.priceRegion}}
            <span class="inlineBlock searchCont">{{CONFIG.searchCont}}</span>
        </div>
        <div class="classifyCategory">
            {{^CONFIG.brand}}
                {{#isExist brand}}
                    <div class="brand">
                        <div>
                            <span class="classifyType">品牌</span>
                        </div>
                        <div>
                            <div>
                                {{#each brand}}
                                    {{#if .}}
                                        <a href="javascript:void(0)" brand>
                                            <span>{{convertStr .}}</span>
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/isExist}}
            {{/CONFIG.brand}}
            {{^CONFIG.commodityCategory2}}
                {{#isExist commodityCategory2}}
                    <div class="commodityCategory2">
                        <div>
                            <span class="classifyType">产品</span>
                        </div>
                        <div>
                            <div>
                                {{#each commodityCategory2}}
                                    {{#if .}}
                                        <a href="javascript:void(0)" commodityCategory2>
                                            <span>{{convertStr .}}</span>
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/isExist}}
            {{/CONFIG.commodityCategory2}}
            {{^CONFIG.commodityCategory3}}
                {{#isExist commodityCategory3}}
                    <div class="commodityCategory3">
                        <div>
                            <span class="classifyType">类型</span>
                        </div>
                        <div>
                            <div>
                                {{#each commodityCategory3}}
                                    {{#if .}}
                                        <a href="javascript:void(0)" commodityCategory3>
                                            <span>{{convertStr .}}</span>
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/isExist}}
            {{/CONFIG.commodityCategory3}}
            {{^CONFIG.color}}
                {{#isExist color}}
                    <div class="color">
                        <div>
                            <span class="classifyType">颜色</span>
                        </div>
                        <div>
                            <div>
                                {{#each color}}
                                    {{#if .}}
                                        <a href="javascript:void(0)" color>
                                            <span>{{convertStr .}}</span>
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/isExist}}
            {{/CONFIG.color}}
            {{^CONFIG.size}}
                {{#isExist size}}
                    <div class="size">
                        <div>
                            <span class="classifyType">规格</span>
                        </div>
                        <div>
                            <div>
                                {{#each size}}
                                    {{#if .}}
                                        <a href="javascript:void(0)" size>
                                            <span>{{convertStr .}}</span>
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/isExist}}
            {{/CONFIG.size}}
        </div>
        <div class="filter">
            <div class="btn-group inlineBlock">
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterDefault
                   {{#if CONFIG.filterDefault.active}}active{{/if}}">默认
                    <i class="uFont
                      {{#if CONFIG.filterDefault.down}}
                      font-base_directionDown
                      {{else}}
                      font-base_directionUp
                      {{/if}}">
                    </i>
                </a>
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterHot
                   {{#if CONFIG.filterHot.active}}active{{/if}}">热销
                    <i class="uFont
                      {{#if CONFIG.filterHot.down}}
                      font-base_directionDown
                      {{else}}
                      font-base_directionUp
                      {{/if}}">
                    </i>
                </a>
                <a href="javascript:void(0)" class="btn btn-default inlineBlock filterPrice
                   {{#if CONFIG.filterPrice.active}}active{{/if}}">价格
                    <i class="uFont
                      {{#if CONFIG.filterPrice.down}}
                      font-base_directionDown
                      {{else}}
                      font-base_directionUp
                      {{/if}}">
                    </i>
                </a>
            </div>
            <div class="inputGroup inlineBlock priceRegion">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" value="{{CONFIG.priceMin}}">
                    <span class="input-group-addon">-</span>
                    <input type="text" class="form-control" placeholder="" value="{{CONFIG.priceMax}}">
                </div>
                <a href="javascript:void(0)" class="btn priceRegionBtn">确定</a>
            </div>
        </div>
    {{/RESPONSE}}
    {{#if RESPONSE.commoditySearchList}}
        <div class="ShopList">
            <ul>
                {{#each RESPONSE.commoditySearchList}}
                    <li class="inlineBlock">
                        <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}">
                            <div class="imgBox">
                                <img src="{{getImgUrl picture1 null "default_search.jpg"}}">
                            </div>
                        </a>
                        <div class="info">
                            <div class="showImg">
                                <div class="box"><img src="{{getImgUrl picture1}}" class="active"></div>
                                {{#if picture2}}<div class="box"><img src="{{getImgUrl picture2}}"></div>{{/if}}
                                {{#if picture3}}<div class="box"><img src="{{getImgUrl picture3}}"></div>{{/if}}
                                {{#if picture4}}<div class="box"><img src="{{getImgUrl picture4}}"></div>{{/if}}
                            </div>
                            <div class="showPrice">
                                {{format_Money price}}
                            </div>
                            <div class="showText">
                                <a href="/app/webpage/shop.html?memberId={{memberId}}&commodityId={{commodityId}}" target="_blank">
                                    <abbr title="{{commodityName}}"> {{commodityName}}</abbr>
                                </a>
                            </div>
                        </div>
                        <div class="mark">
                            <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank"
                               class="inlineBlock">
                                <abbr title="{{memberName}}">{{memberName}}</abbr>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div id="load-pagePagination"></div>
        </div>
    {{else}}
        <div class="nothingError">
            <span class="description"><i class="fa fa-warning fa-fw"></i>抱歉没有找到</span>
            <span class="description">相关商品!</span>
        </div>
    {{/if}}
</div>