<div class="page-info-content">
    <div class="header">
        {{#RESPONSEDATA.MEMBER_PRODUCT_POPULARIZE}}
            <div class="title">{{popularizeName}}</div>
            {{#if popularizeList}}
                <div class="list">
                    {{#each popularizeList}}
                        {{#each items}}
                            <a href="{{.}}">{{@key}}</a>
                        {{/each}}
                    {{/each}}
                </div>
            {{else}}
                <div class="more">
                    <a href="javascript:void(0)" toSearchShop={{popularizeName}}>更多商品<span>>></span></a>
                </div>
            {{/if}}
        {{/RESPONSEDATA.MEMBER_PRODUCT_POPULARIZE}}
    </div>
    <div class="body">
        <div class="content">
            <div class="content-logoImg">
                {{#each RESPONSEDATA.MEMBER_PRODUCT_POPULARIZE.modelList}}
                    {{#setRenderRange @index 5}}
                        <span index="{{../@index}}" class="{{isFirst ../@index "active"}}">
                               <img src="{{getImgUrl logoPath}}"/>
                            </span>
                    {{/setRenderRange}}
                {{/each}}
            </div>
            <div class="content-showInfo">
                {{#each RESPONSEDATA.MEMBER_PRODUCT_POPULARIZE.modelList}}
                    {{#setRenderRange @index 5}}
                        <ul index="{{../@index}}">
                            <li class="infoBanner" style="z-index:99">
                                <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank" index="0" >
                                    <div class="text">
                                        <span class="sketch">{{sketch1}}</span>
                                        <span class="description">{{description1}}</span>
                                    </div>
                                    <div class="img">
                                        <img src="{{getImgUrl picPath1}}">
                                    </div>
                                </a>
                                <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank" index="1">
                                    <div class="text">
                                        <span class="sketch">{{sketch2}}</span>
                                        <span class="description">{{description2}}</span>
                                    </div>
                                    <div class="img">
                                        <img src="{{getImgUrl picPath2}}">
                                    </div>
                                </a>
                                <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank" index="2">
                                    <div class="text">
                                        <span class="sketch">{{sketch3}}</span>
                                        <span class="description">{{description3}}</span>
                                    </div>
                                    <div class="img">
                                        <img src="{{getImgUrl picPath3}}">
                                    </div>
                                </a>
                                <span class="carousel_list">
                                   <i class="carousel_i showing" index="0"></i>
                                   <i class="carousel_i" index="1"></i>
                                   <i class="carousel_i" index="2"></i>
                                </span>
                            </li>
                            {{#each generalInfoList}}
                                {{#setRenderRange @index 7}}
                                    <li class="generalInfo" style="z-index:{{zIndexAsc ../@index 100}}">
                                        <a href="/app/webpage/shop.html?memberId={{../memberId}}&commodityId={{productId}}"  target="_blank">
                                            <div class="text">
                                                <i class="title">{{shortTitle}}</i>
                                                <i class="price">{{format_Money price}}</i>
                                            </div>
                                            <div class="img">
                                                <img src="{{getImgUrl picPath}}"/>
                                            </div>
                                        </a>
                                    </li>
                                {{/setRenderRange}}
                            {{/each}}
                        </ul>
                    {{/setRenderRange}}
                {{/each}}
            </div>
        </div>
        {{#if RESPONSEDATA.MEMBER_POPULARIZE}}
            <div class="banner-logoImg">
                {{#if RESPONSEDATA.MEMBER_POPULARIZE.modelList}}
                    <div>
                        <ul class="bannerUl" style="width:{{setCSS_Width RESPONSEDATA.MEMBER_POPULARIZE.modelList}}">
                            {{#RESPONSEDATA.MEMBER_POPULARIZE.modelList}}
                                <li>
                                    <a href="/app/webpage/company.html?memberId={{memberId}}" target="_blank">
                                        <img src="{{getImgUrl logoPath}}"/>
                                    </a>
                                </li>
                            {{/RESPONSEDATA.MEMBER_POPULARIZE.modelList}}
                        </ul>
                    </div>
                    <a class="carousel_btn prev"><</a>
                    <a class="carousel_btn next">></a>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>