<div class="page-body-nav">
    <div class="navContent">
        <div class="navLeft">
            {{#navigation}}
                <ul class="items">
                    {{#each items}}
                        <li item-index="{{@index}}">
                            <h3 class="title">{{title}}{{hover}}</h3>
                            {{#each content}}<a class="content" href="{{.}}">{{@key}}</a>{{/each}}
                            <span class="fa fa-angle-right fa-fw"></span>
                        </li>
                    {{/each}}
                </ul>
            {{/navigation}}
        </div>
        <div class="navRight">
            <div class="navRightContent1">
                {{#navigation}}
                    <div class="banner">
                        {{#imgs}}
                            {{#banner}}
                                {{#each .}}
                                    <a href="{{.}}"><img src="{{@key}}"/></a>
                                {{/each}}
                            {{/banner}}
                            <span class="carousel_list">
                                {{#each banner}}
                                    <i class="carousel_i" img-index="{{@index}}"></i>
                                {{/each}}
                            </span>
                            <a class="carousel prev"><</a>
                            <a class="carousel next">></a>
                        {{/imgs}}
                    </div>
                    <div class="footer">
                        {{#imgs}}
                            <div class="imgs">
                                {{#banner_bottom}}
                                    {{#each .}}
                                        <a href="{{.}}"><img src="{{@key}}"/></a>
                                    {{/each}}
                                {{/banner_bottom}}
                            </div>
                        {{/imgs}}
                    </div>
                {{/navigation}}
            </div>
            <div class="navRightContent2" style="{{css.navRightContent2}}">
                {{#navigation}}
                    <ul class="nav_detail">
                        {{#more}}
                            {{#each .}}
                                <li>
                                    <span class="title">{{title}}</span>
                                    <div class="content">
                                        {{#each content}}
                                            <a href="{{.}}">{{@key}}</a>
                                        {{/each}}
                                    </div>
                                </li>
                            {{/each}}
                        {{/more}}
                    </ul>
                    <ul class="nav_nominate">
                        {{#imgs}}
                            {{#items}}
                                {{#each .}}
                                    {{#each .}}
                                        <a href="{{.}}"><img src="{{@key}}"/></a>
                                    {{/each}}
                                {{/each}}
                            {{/items}}
                        {{/imgs}}
                    </ul>
                {{/navigation}}
            </div>
        </div>
    </div>
</div>