<div class="page-body-nav">
    <div class="navContent">
        {{#nav}}
            <div class="navLeft">
                <div class="itemBriefly">
                    <ul>
                        {{#each items}}
                            <li itemBriefly-index="{{@index}}">
                                <h3 class="title">{{title}}</h3>
                                {{#each content}}<a class="content" href="{{.}}">{{@key}}</a>{{/each}}
                                <span class="fa fa-angle-right fa-fw"></span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="navRight">
                <div class="showContainer">
                    <div class="show_banner">
                        {{#bannerImg}}
                            {{#each .}}
                                <a href="{{.}}"><img src="{{@key}}"/></a>
                            {{/each}}
                        {{/bannerImg}}
                        <span class="carousel_list">
                            {{#bannerImg}}
                                <i class="carousel_i" bannerImg-index="{{@index}}"></i>
                            {{/bannerImg}}
                        </span>
                        <a class="carousel prev"><</a>
                        <a class="carousel next">></a>
                    </div>
                    <div class="show_info">
                        {{#infoImg}}
                            {{#each .}}
                                <a href="{{.}}"><img src="{{@key}}"/></a>
                            {{/each}}
                        {{/infoImg}}
                    </div>
                </div>
                <div class="itemDetails">
                    {{#each items}}
                        <div itemDetails-index="{{@index}}">
                            <ul class="classify">
                                {{#more.classify}}
                                    <li>
                                        <span class="title">{{title}}</span>
                                        <div class="content">
                                            {{#each content}}
                                                <a href="{{.}}">{{@key}}</a>
                                            {{/each}}
                                        </div>
                                    </li>
                                {{/more.classify}}
                            </ul>
                            <ul class="recommend">
                                {{#more.recommend}}
                                    <li>
                                        {{#each .}}
                                            <a href="{{.}}"><img src="{{@key}}"/></a>
                                        {{/each}}
                                    </li>
                                {{/more.recommend}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/nav}}
    </div>
</div>